<%= tinymce_assets %>
<%= tinymce %>

<%= semantic_form_for([:admin, @page]) do |f| %>
	<%= f.error_messages %>

	<%= f.inputs do %>
	  <%= f.input :name %>
	<% end %>

  <% create_sorted_translation_objects(@page.page_translations).each do |trans| %>
		<%= f.fields_for :page_translations, trans do |translation| %>

			<div id="form-<%= trans.locale %>" class="multilanguage_nested">
				<h3><%= t("app.language.#{trans.locale}") %></h3>

				<%= translation.input :title %>
				<%= translation.input :content, :as => :text, rows: 10, :input_html => { class: 'tinyEditor' } %>
				<%= translation.hidden_field :locale , :value => trans.locale %>
			</div>

		<% end %>
	<% end %>

  <div>
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
	  <%= link_to t('helpers.links.cancel'), admin_pages_path, :class => 'btn btn-xs btn-warning' %>
  </div>
<% end %>

