    <% alignment = { "left" => -1, "center" => 0, "right" => 1 }%>
    <div class="main">
      <div class="article">
        <% columnSectionCount = 0 %>
        <% isFirst = true %>
        <% secs = @story.sections.select{|t| t.ok? }.sort_by{|p| p.position} %>
        <% @section_count = secs.count %>
        <% secs.each_with_index do |section,s_i| %>
          <% if isFirst && !(section.media? || (section.youtube? && section.youtube.fullscreen)) %>
            <div class='info'>
              <div class='headline'><%= @story.title %></div>
              <div class="byline">
                      <span class="caption"><%= t('storyteller.byline', locale: @story.current_locale) %></span>
                      <span class="author">&nbsp;<%= @story.story_author_names %></span>
                      <%= "<span class='caption'>,</span>&nbsp<span class='caption'>#{t('storyteller.byline_media', locale: @story.current_locale)}</span>&nbsp;<span class='author'>#{@story.media_author}</span>".html_safe if @story.media_author.present? %>
                      <%= "<span class='caption'>,</span>&nbsp<span class='caption'>#{t('storyteller.byline_translator', locale: @story.current_locale)}</span>&nbsp;<span class='author'>#{@story.translation_author}</span>".html_safe if @story.translation_author.present? %>
              </div>
            </div>
            <%= render partial: "storyteller/template/#{@template}/content_infotop", locals: {is_infographic: section.infographic?} %>
          <% end %>
          <%  dataAudio = ''
              if section.asset_exists?
                dataAudio = "data-audio='#{File.basename(section.asset.asset_file_name_formatted,'.mp3')}'".html_safe
              end
           %>
            <% if section.content? %>
              <div class="section column" <%= dataAudio.html_safe %>>
                <% if section.has_marker? %>
                   <a class="navigation-marker" id="<%= s_i + 1 %>"></a>
                <% end %>
                <% if section.content.caption.present? %>
                  <div class='column-caption'><%= section.content.caption.html_safe %></div>
                <% end%>
                <% if section.content.sub_caption.present? %>
                  <div class='column-sub-caption'><%= section.content.sub_caption.html_safe %></div>
                <% end%>
                <%= section.content.text.html_safe %>
                <% if section.content.text.html_safe.lines.count == 1 %>
                  <p>&nbsp;</p>
                <% end %>
              </div>
              <% columnSectionCount+=1 %>
            <% elsif section.media? %>
              <div class="section video-sequence" <%= dataAudio.html_safe %>>
                <% if section.has_marker? %>
                   <a class="navigation-marker" id="<%= s_i + 1 %>"></a>
                <% end %>
                <% section.media.each_with_index do |m,m_i| %>
                  <% dataVideo = '' %>
                  <% if m.media_type == Medium::TYPE[:video] && m.is_processed? %>
                    <% dataVideo = "data-video='#{File.basename(m.video.asset_file_name_formatted,'.*')}'".html_safe %>
                  <% elsif m.media_type == Medium::TYPE[:image] %>
                    <% dataVideo = "data-image='#{File.basename(m.image.asset_file_name_formatted)}'".html_safe %>
                  <% end %>
                  <div class="video infobox-<%= m.infobox_type == 0 ? 'floating' : 'fixed' %>" <%= dataVideo.html_safe %>  <%= m.media_type == Medium::TYPE[:video] && m.video_loop ? "data-videoloop" : "" %>>
                    <div class="video-container infobox-<%= m.infobox_type == 0 ? 'floating' : 'fixed' %> <%= "bg-#{section.background_type}"%>">
                      <% if m.media_type == Medium::TYPE[:image] %>
                          <%# orientation_class = m.image.get_orientation_class class=" orientation_class" %>
                          <% if !@export %>
                            <img class="re-aspect" src="<%= m.image.file.url(:fullscreen) %>" data-aspectratio="<%= m.image.asset_aspectratio %>">
                          <% else %>
                            <img class="re-aspect" src="media/images/fullscreen/<%= m.image.asset_file_name_formatted %>" data-aspectratio="<%= m.image.asset_aspectratio %>">
                          <% end %>
                      <% elsif m.media_type == Medium::TYPE[:video] && !m.is_processed?  %>
                          <% if !@export %>
                            <%= image_tag "png/video_being_processed_#{I18n.locale}.png" %>
                          <% else %>
                            <img src="assets/png/video_being_processed_#{I18n.locale}.png">
                          <% end %>
                      <% elsif m.media_type == Medium::TYPE[:video] && m.is_processed?  %>
                        <div class="temporary">
                          <% if !@export %>
                            <!--[if lte IE 8]><img src="<%= m.image.file.url(:fullscreen) %>"><![endif]-->
                          <% else %>
                            <!--[if lte IE 8]><img src="media/images/fullscreen/<%= m.image.asset_file_name_formatted %>"><![endif]-->
                          <% end %>
                        </div>
                      <% end %>
                      <% if m.caption.present? || m.source.present? %>
                        <% if m.infobox_type == Medium::INFOBOX_TYPE[:floating] %>
                          <% if m.source.present? %>
                            <div class="video-source"><%= m.source %></div>
                          <% end %>
                        <% elsif m.infobox_type == Medium::INFOBOX_TYPE[:fixed] %>
                          <div class='infobox'>
                            <% if m.caption.present? && !(isFirst && m_i == 0) %>
                              <div class='video-caption video-caption--<%= "#{alignment.key(m.caption_align)}" %> <%= m.caption.length > 160 ?
                              "video-caption--long" : "" %>'>
                                <div class="caption" style="min-height: 60px;width: 100%;">
                                  <%= m.caption  %>
                                </div>
                              </div>
                            <% end %>
                            <% if m.source.present? %>
                              <div class="video-source"><%= m.source %></div>
                            <% end %>
                          </div>
                          <div class='space'></div>
                        <% end %>
                      <% end %>
                    </div>
                    <% if isFirst && m_i == 0  %>
                      <div class="video-headline">
                        <div class="headline"><%= @story.title %>
                          <div class="byline">
                            <span class="caption"><%= t('storyteller.byline', locale: @story.current_locale) %></span><span class="author">&nbsp;<%= @story.story_author_names %></span><%= "<span class='caption'>,</span>&nbsp<span class='caption'>#{t('storyteller.byline_media', locale: @story.current_locale)}</span>&nbsp;<span class='author'>#{@story.media_author}</span>".html_safe if @story.media_author.present? %>
                             <%= "<span class='caption'>,</span>&nbsp<span class='caption'>#{t('storyteller.byline_translator', locale: @story.current_locale)}</span>&nbsp;<span class='author'>#{@story.translation_author}</span>".html_safe if @story.translation_author.present? %>
                          </div>
                        </div>
                      </div>
                      <div class="scroll-prompt">
                       <svg  x="0px" y="0px" width="18.03px" height="18.042px" viewBox="7.516 6.5 18.03 18.042" enable-background="new 7.516 6.5 18.03 18.042"
             xml:space="preserve">
          <polygon points="16.531,22.763 8.52,14.963 7.695,15.766 16.531,24.367 25.367,15.766 24.544,14.963 "/>
          <polygon points="25.367,7.477 24.544,6.674 16.531,14.475 8.52,6.674 7.695,7.477 16.531,16.079 "/>
          </svg>
                      </div>
                    <% end %>
                    <% if m.infobox_type == Medium::INFOBOX_TYPE[:floating] && m.caption.present? && !(isFirst && m_i == 0) %>
                      <div class='video-caption video-caption--<%= "#{alignment.key(m.caption_align)}" %> <%= m.caption.length > 160 ?
                      "video-caption--long" : "" %>'>
                        <%= m.caption  %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <% if isFirst %>
                  <%= render partial: "storyteller/template/#{@template}/content_infotop"%>
                <% end %>
            <% elsif section.slideshow? %>
              <div class="section slideshow section-fit" <%= dataAudio.html_safe %>>
                <% if section.has_marker? %><a class="navigation-marker" id="<%= s_i + 1 %>"></a><% end %>
                <div class="container">
                  <% if section.slideshow.caption.present? %>
                    <div class="headline"><%= section.slideshow.caption %></div>
                  <% end %>
                  <!--[if lte IE 8]><img src="<%= section.slideshow.asset_files[0].file.url(:medium) %>" style="width:100%;"><![endif]-->
                  <div class="captions">
                    <% section.slideshow.asset_files.each_with_index do |t,t_i| %>
                      <div class="caption" data-image="<%= t.asset_file_name_formatted %>" data-aspect="<%= t.asset.exists? && Paperclip::Geometry.from_file(t.asset.path).aspect.round(2) > 1 ? 'w' : 'h'%>">
                          <%= t.caption.html_safe %>
                          <% if t.source.present? %>

                            <div class="source">
                              <span><%= "#{t('storyteller.source', locale: @story.current_locale)}" %></span>&nbsp;
                              <%= auto_link(t.source) %>
                            </div>
                          <% end %>
                        </div>
                    <% end %>
                  </div>
                  <% if section.slideshow.description.present? %>
                    <div class="description"><%= section.slideshow.description.html_safe %></div>
                  <% end %>
                </div>
              </div>
            <% elsif section.embed_media? %>
              <div class="section embed <%= section.embed_medium.get_dimension_class %>" <%= dataAudio.html_safe %>>
                <% if section.has_marker? %>
                       <a class="navigation-marker" id="<%= s_i + 1 %>"></a>
                <% end %>
                <div class="container">
                  <%= section.embed_medium.code.html_safe %>
                </div>
              </div>
            <% elsif section.youtube? %>
              <div class="section youtube section-<%= section.youtube.fullscreen ? 'fullscreen' : 'fit' %>" <%= dataAudio.html_safe %>>
                <% if section.has_marker? %>
                       <a class="navigation-marker" id="<%= s_i + 1 %>"></a>
                <% end %>
                <div class="container">
                  <div data-yid="<%= section.youtube.code %>"></div>
                </div>
              </div>
              <% if isFirst && section.youtube.fullscreen %>
                <div class='info'>
                  <div class='headline'><%= @story.title %></div>
                  <div class="byline">
                          <span class="caption"><%= t('storyteller.byline', locale: @story.current_locale) %></span>
                          <span class="author">&nbsp;<%= @story.story_author_names %></span>
                          <%= "<span class='caption'>,</span>&nbsp<span class='caption'>#{t('storyteller.byline_media', locale: @story.current_locale)}</span>&nbsp;<span class='author'>#{@story.media_author}</span>".html_safe if @story.media_author.present? %>
                          <%= "<span class='caption'>,</span>&nbsp<span class='caption'>#{t('storyteller.byline_translator', locale: @story.current_locale)}</span>&nbsp;<span class='author'>#{@story.translation_author}</span>".html_safe if @story.translation_author.present? %>
                  </div>
                </div>
                <%= render partial: "storyteller/template/#{@template}/content_infotop" %>
              <% end %>
            <% elsif section.infographic? %>
              <% item = section.infographic %>
              <div class="section infographic" <%= dataAudio.html_safe %>>
                <% if section.has_marker? %>
                  <a class="navigation-marker" id="<%= s_i + 1 %>"></a>
                <% end %>
                <div class="container" >
                <% if item.caption.present? %>
                  <div class="caption"><%= item.caption %></div>
                <% end %>
                <% if item.static_type? %>
                  <div class="content infographic" data-original='<%= !@export ? item.image.file.url : "media/infographic/original/#{item.image.asset_file_name_formatted}" %>'>
                    <% alt = item.alt_text.present? ? item.alt_text : isFirst ? @story.about : '' %>
                    <img src='<%= !@export ? item.image.file.url(:poster) : "media/infographic/poster/#{item.image.asset_file_name_formatted}" %>' alt="<%= strip_tags_nbsp(alt) %>">
                    <div class="bg"></div>
                  </div>
                <% elsif item.dynamic_type? && item.popup_render? %>
                  <div class="content interactive">
                    <% alt = item.alt_text.present? ? item.alt_text : isFirst ? @story.about : '' %>
                    <% image = item.image.present? && item.image.file.exists? ? item.image : Asset.new(asset_type: Asset::TYPE[:infographic]) %>
                    <img src='<%= !@export ? image.file.url(:poster) : "media/infographic/poster/#{image.asset_file_name_formatted}" %>' alt="<%= strip_tags_nbsp(alt) %>">
                    <div class="bg"></div>
                    <div class="interactive-iframe-popup" style="display:none;">
                      <%= item.dynamic_code.html_safe %>
                    </div>
                  </div>
                 <% elsif item.dynamic_type? %>
                    <div class="content<%= item.dynamic_width.blank? ? ' wide' : '' %>">
                      <%= item.dynamic_code.html_safe %>
                    </div>
                  <% end %>
                 <% if isFirst && @story.story_type_id == 3 && @story.about.present? %>
                    <div class='description'><%= @story.about.html_safe %></div>
                 <% end %>
                  <div class="description"><%= item.description.html_safe %></div>
                  <% if item.datasources.present? %>
                    <div class="sources">
                      <div class="title"><%= t('storyteller.infographic.source', locale: @story.current_locale) %>:&nbsp;</div>
                      <% section.infographic.datasources.each do |t| %>
                      <% if t.url.present? %>
                       <div class='source'><%= link_to t.name+";", t.url, :target=>'blank' %></div>
                     <% else %>
                       <div class='source'><%= t.name %></div>
                     <% end %>
                      <% end %>
                    </div>
                  <% end %>
                  <% if item.dataset_url.present? || item.dataset_file_exists? %>
                    <div class="dataset">
                      <div class="title"><%= t('storyteller.infographic.dataset', locale: @story.current_locale) %>:&nbsp;</div>
                      <% if item.dataset_file_exists? %>
                        <div class='file'><%= link_to t('storyteller.infographic.download', locale: @story.current_locale), (!@export ? full_url(item.dataset_file.file.url) : "media/infographic_dataset/#{item.dataset_file.asset_file_name_formatted}") %></div>
                      <% end %>
                      <% if item.dataset_url.present? %>
                        <div class='url'><%= link_to t('storyteller.infographic.online', locale: @story.current_locale), item.dataset_url, :target=>'blank' %></div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% isFirst = false %>
        <% end %>
      </div>
    </div>
