<%- model_class = User -%>
<% title t('helpers.links.sign_up').html_safe %>

<div id="signup-form">


  <div class="providers">
    <%- if devise_mapping.omniauthable? %>
	    <%- resource_class.omniauth_providers.each do |provider| %>
	      <% if provider == :facebook %>
				  <%= link_to image_tag('connect_fb.png'), omniauth_authorize_path(resource_name, provider), :class => '' %>
	      <% else %>
				  <%= link_to t('helpers.links.sign_in_provider', :provider => provider.to_s.titleize), omniauth_authorize_path(resource_name, provider), :class => 'btn btn-primary' %>
	      <% end %>
	    <% end -%>
    <% end -%>
  </div>

  <%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  	<%= f.error_messages %>

	  <%= f.inputs do %>
	    <%= f.input :email, :input_html => { :size => 35 } %>
	    <%= f.input :nickname, hint: t('helpers.hints.nickname'), :input_html => { :size => 35 } %>
      <div id="check_nickname_results"></div>

      <% resource.build_local_avatar(:asset_type => Asset::TYPE[:user_avatar]) %>
      <%= f.fields_for :local_avatar, resource.local_avatar do |as| %>
          <%= as.input :asset_type, :as => :hidden %>
          <%= as.input :asset, :as => :file , hint: t('helpers.hints.local_avatar') , :input_html => { accept:"image/jpeg,image/png" }, label: t('activerecord.attributes.user.local_avatar')  %> 
      <% end %> 

	    <% if f.object.password_required? %>
		    <%= f.input :password, :input_html => { :size => 35 } %>
		    <%= f.input :password_confirmation, :input_html => { :size => 35 } %>
	    <% end %>
    <% end %>
    
	  <div class="control-group">
		  <%= f.submit t('helpers.links.sign_up2'), :class => 'btn btn-default' %>
	  </div>
  <% end %>

  <div class="control-group">
	  <%- if controller_name != 'sessions' %>
		  <%= link_to t('helpers.links.sign_in'), new_session_path(resource_name, {:load_media => false}), :class => 'btn btn-mini sign-in-link' %>
	  <% end -%>

	  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
		  <%= link_to t('helpers.links.forgot_password'), new_password_path(resource_name, {:load_media => false}), :class => 'forgot-link' %>
	  <% end -%>
  </div>

</div>
