
<%= tinymce_assets %>
<%= tinymce %>

<%= semantic_form_for([:admin,@news], :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_messages %>

  <% create_sorted_translation_objects(@news.news_translations).each do |trans| %>
		<%= f.fields_for :news_translations, trans do |translation| %>

			<div id="form-<%= trans.locale %>" class="multilanguage_nested">
				<h3><%= t("app.language.#{trans.locale}") %></h3>

		    <%= translation.input :title %>
		    <%= translation.input :content, :as => :text, :input_html => {:class => "tinymce", :rows => 20}  %>
				<%= translation.hidden_field :locale , :value => trans.locale %>
			</div>

		<% end %>
	<% end %>

	<%= f.inputs do %>
		<%= f.input :is_published, :as => :radio %>
		<%= f.input :published_at, :as => :string, :input_html => {:size => 20} %>

	<% end %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>
	  <%= link_to t('helpers.links.cancel'), admin_news_index_path, :class => 'btn btn-mini btn-warning' %>
  </div>

<% end %>
