<%- model_class = News -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div>
  <%= link_to t('helpers.links.new'),
              new_admin_news_path,
              :class => 'btn btn-primary' %>
  <%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn btn-default' %>
</div>
            
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:is_published) %></th>
      <th><%= model_class.human_attribute_name(:published_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= link_to news.title, admin_news_path(news) %></td>
        <td><%= news.is_published %></td>
        <td><%= l news.published_at if news.published_at.present? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_news_path(news), :class => 'btn btn-xs btn-default' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_news_path(news),
                      :method => :delete,
                      :data => { :confirm => I18n.t("helpers.links.confirm") },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


