<% title t('.title') %>
 <div class="js-list-basic">
	<ul>
    <li>
     <%= link_to t('helpers.links.users'), admin_users_path %>
    </li>
    <% if current_user.role? User::ROLES[:site_admin] %>
      <li>
       <%= link_to t('helpers.links.authors'), admin_authors_path %>
      </li>
      <li>
       <%= link_to t('helpers.links.themes'), admin_themes_path %>
      </li>
      <li>
       <%= link_to t('helpers.links.story_types'), admin_story_types_path %>
      </li>
 			<li>
       <%= link_to t('helpers.links.pages'), admin_pages_path %>
      </li>
      <% if current_user.role? User::ROLES[:admin] %>
   			<li>
         <%= link_to t('helpers.links.langauges'), admin_languages_path %>
        </li>
      <% end %>
    <% end %>
	</ul>
</div>
