<% title t('.title') %>

<style>
ul.list{list-style: inherit;}
ul.list li{margin: 5px 0 5px 10px;}
</style>

 <div class="span4">
	<ul class='list'>
    <li>
     <%= link_to t('helpers.links.users'), admin_users_path %>
    </li>
    <% if current_user.role? User::ROLES[:site_admin] %>
      <li>
       <%= link_to t('helpers.links.authors'), admin_authors_path %>
      </li>
      <li>
       <%= link_to t('helpers.links.themes'), admin_themes_path %>
      </li>
      <li>
       <%= link_to t('helpers.links.story_types'), admin_story_types_path %>
      </li>
 			<li>
       <%= link_to t('helpers.links.pages'), admin_pages_path %>
      </li>
 			<li>
       <%= link_to t('helpers.links.langauges'), admin_languages_path %>
      </li>
    <% end %>
	</ul>
</div>
