<%- model_class = Author -%>
<%- model_class_trans = AuthorTranslation -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_author_path,
              :class => 'btn btn-primary' %>
  <%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn btn-default' %>
</div>

<table id="author-datatable" class="table table-striped display">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class_trans.human_attribute_name(:about) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td>
          <a href="#" id='btnPreview' class='preview btn btn-default btn-mini' 
              title="<%= t('helpers.links.story_menu.link.preview') %>"
              data-link='<%= author_path(author.permalink) %>'
              data-modalos-id='modalos-preview' data-type='story'>
            <span class="glyphicon glyphicon-eye-open" ></span>
          </a>
        </td>
        <td>
          <%= image_tag author.avatar_url %>
          <%= author.name %>
        </td>
        <td><%= simple_format_no_tags(author.about, {}, {sanitize: false}) %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_admin_author_path(author), :class => 'btn btn-mini btn-default' %>
          <%= link_to t('app.buttons.delete'),
                      admin_author_path(author),
                      :method => :delete,
                      :data => { :confirm => I18n.t("helpers.links.confirm") },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


