<%= simple_format @message.message %>

<ul>
<% @message.message_list.each do |msg| %>
  <li>
    <p>
      <%= t('mailer.notification.story_collaboration.from', :locale => @message.locale, :from => msg[0]) %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= t('mailer.notification.story_collaboration.story_title', :locale => @message.locale, :title => msg[1]) %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to t('mailer.notification.story_collaboration.accept_link', :locale => @message.locale), 
            accept_invitation_url(:locale => @message.locale, :key => msg[2]) %>
    </p>
    <% if msg[3].present? %>
      <%= simple_format msg[3] %>
    <% end %>
  </li>
<% end %>
</ul>

