<p>
  <%= t('mailer.notification.story_collaborator_invitation.line1', :locale => @message.locale, :name => @message.name, :title => @message.story_title) %>
  <%= t('mailer.notification.story_collaborator_invitation.line2', :locale => @message.locale, :url => @message.url) %>
  <%= t('mailer.notification.story_collaborator_invitation.line3' %>
</p>

<% if @message.message.present? %>
  <p>
    <%= t('mailer.notification.story_collaborator_invitation.line_msg', :locale => @message.locale, :name => @message.name) %>
  </p>

  <%= simple_format @message.message %>
<% end %>

