<%- model_class = User -%>
<% 	popup = request.xhr? ? true  :  popup || false %>
<% title = t('helpers.links.forgot_password').html_safe %> 
<% if !popup %>
	<% title title %>
<% end %>
<div id="reset-password-form">
  <% if popup %>
  	<div class="title"><%= title %></div>
  <% end %>
  <div class="providers">
    <%- if devise_mapping.omniauthable? %>
	    <%- model_class.omniauth_providers.each do |provider| %>
	      <% if provider == :facebook %>
				  <%= link_to  omniauth_authorize_path(resource_name, provider), :class => 'facebook' do %>
				  	<i class="i-icon i-facebook-l"></i><span><%= t('helpers.links.sign_in_provider', :provider => provider.to_s.titleize) %></span>
				  <% end %>
	      <% else %>
				  <%= link_to t('helpers.links.sign_in_provider', :provider => provider.to_s.titleize), omniauth_authorize_path(resource_name, provider), :class => 'btn btn-primary' %>
	      <% end %>
	    <% end -%>
    <% end -%>
  </div>

  <% if popup %>
  	<div class="facebook_or_local"><%= t('helpers.links.reset_or_sign_in') %></div>
  <% end %>
  <%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :"data-form-id"=>"reset-password-form" }) do |f| %>
  	<%= f.error_messages %>
  	<%= f.input :email, :input_html => { :size => 35 , :class => "login-username" }, :placeholder => t('activerecord.attributes.user.email') , label: false  %>

	  <div class="control-group submit-row">
		  <%= f.submit t('helpers.links.password_reset'), :class => 'btn btn-default pass-reset' %>
	  </div>
  <% end %>

  <div class="control-group">
	  <%- if controller_name != 'sessions' %>
		  <%= link_to t('helpers.links.sign_in'), new_session_path(resource_name), :class => 'sign-in-link modalSignIn' , :"data-modalos-id"=>"modalos-sign-in", :"data-modalos-class"=>"sign-in-window" %>
	  <% end -%>

	  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	  	<div class="sign-up-box">
		  <span><%= t('helpers.links.sign_up_question') %></span>&nbsp;<%= link_to t('helpers.links.sign_up'), new_registration_path(resource_name), :class => 'sign-up-link modalRegistration', :"data-modalos-id"=>"modalos-sign-up", :"data-modalos-class"=>"sign-up-window"  %>
	  	</div>
	  <% end -%>	
  </div>


</div>

