<% has_highlight = @highlight.present? %>
<% content_for(:header) { %>
<header>
  <% if @stories_for_slider.present? %>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
      <% if has_highlight %>
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <% end %>
       <% @stories_for_slider.each_with_index { |t,i| %>
          <% slide_index = has_highlight ? i + 1 : i %>
          <li data-target="#carousel-example-generic" data-slide-to="<%= slide_index %>" class='<%= slide_index == 0 ? " active" : "" %>'></li>
        <% } %>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% if has_highlight %>
          <div class="item active" data-is-highlight>
            <% tmp = "<div class='img' style='background: url(/assets/png/thumbnail_mask.png) 100% 100% , url(#{@highlight.image.file.url(:slider)}) center center no-repeat; background-size:cover;'></div>".html_safe %>
            <%= @highlight.url.present? ? (link_to @highlight.url do tmp end) : tmp %>
            <div class="carousel-caption" lang="<%= I18n.locale %>">
              <% tmp = "<div class='title'>#{@highlight.caption}</div>".html_safe %>
              <%= @highlight.url.present? ? (link_to @highlight.url do tmp end) : tmp %>
            </div>
          </div>
        <% end %>
        <% @stories_for_slider.each_with_index { |story,i| %>
          <% slide_index = has_highlight ? i + 1 : i %>
          <% story.use_app_locale_if_translation_exists %>
          <div class='item<%= slide_index == 0 ? " active" : "" %>'>
            <%= link_to storyteller_show_path(story.permalink) do %>
              <div class='img' style="background: url(/assets/png/thumbnail_mask.png) 100% 100% , url(<%= story.show_asset.file.url(:slider) %>) center center no-repeat; background-size:cover;"></div>
            <% end %>
            <div class="carousel-caption" lang="<%= story.current_locale %>">
              <%= link_to  storyteller_show_path(story.permalink) do %>
                <div class='title'><%= story.title %></div>
                <% if false #story.about.present? %>
                <div class='descr'><%= strip_tags_nbsp(story.about).html_safe if story.about.present? %></div>
                <% end %>
              <% end %>
              <div class='storytype'>
                <div class='storytype-logo story_type_<%= story.story_type_id %>' title='<%= get_story_type_name(story.story_type_id) %>'></div>
                <div class='storytype-label' lang='<%= I18n.locale %>'><%= get_story_type_name(story.story_type_id) %></div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon arrow-left" aria-hidden="true"></span>
        <span class="sr-only"><%= t('helpers.links.previous') %></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon arrow-right" aria-hidden="true"></span>
        <span class="sr-only"><%= t('helpers.links.next') %></span>
      </a>
      <!-- Sticker -->
      <div class='sticker' style="display: none;">
        <div class='sticker-container'>
          <%
            locale_line_width = {
              title: { en: 30, ka: 26, ru: 30, az: 30, hy: 30 },
              descr: { en: 40, ka: 30, ru: 40, az: 30, hy: 30 }
            }
            line_width_title = locale_line_width[:title][I18n.locale]
            line_width_descr = locale_line_width[:descr][I18n.locale]
            theme_title = word_wrap(@theme.name.split.map(&:capitalize).join(' '), line_width: line_width_title).gsub("\n", "<br/>").html_safe
            theme_descr = word_wrap(@theme.description, line_width: line_width_descr).gsub("\n", "<br/>").html_safe
            theme_date = word_wrap(@theme.edition, line_width: line_width_descr).gsub("\n", "<br/>").html_safe
          %>
          <%= link_to theme_path(@theme.permalink), class: "sticker-placeholder" do %>
            <div class='title'><%= theme_title %></div><div class='descr'><%= theme_descr %></div><div class='sep'></div><div class='date'><%= theme_date %></div>
          <% end %>
          <%= link_to theme_path(@theme.permalink), class: "sticker-text" do %>
            <div class='title'><%= theme_title %></div><div class='descr'><%= theme_descr %></div><div class='sep'></div><div class='date'><%= theme_date %></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</header>
<% } %>
