   <div id="filter">      
        <ul class="nav">
          <li>
            <%= link_to url_for(params.merge(:staff_pick => !@story_filter_staff_pick)),
              :class => "staff_pick #{@story_filter_staff_pick == true ? 'active' : ''}", :tabindex => 13 do %>
                 <i class='i-icon i-staffpick<%= "#{@story_filter_staff_pick == true ? 'ed' : ''}"%>'></i><%=  "#{t('filters.staff_pick')}" %>
               <% end %>
          </li>
          <% if @categories_published.present? %>          
           <li class="dropdown dropdown-hover category" tabindex="14">
            <a href="#" class="dropdown-toggle<%= @story_filter_category_all ? '' : ' selected' %>" data-toggle="dropdown" ><%= @story_filter_category_all ? t('filters.category_header') : @story_filter_category %><i class='i-icon i-caret'></i></a>
            <ul class="dropdown-menu">          
              <li class="dropdown">
                <%= link_to I18n.t('filters.all'), url_for(params.merge(:category => nil)), :class => @story_filter_category == I18n.t('filters.all') ? 'active' : '' %>
              </li>
              <% @categories_published.each do |cat| %>
                <li class="dropdown">
                  <%= link_to cat.name, url_for(params.merge(:category => cat.permalink)), :class => @story_filter_category == cat.name ? 'active' : '' %>
                </li>
              <% end %>
            </ul>
          </li>
          <% end %>
          <li class="dropdown dropdown-hover language">
            <a href="#" class="dropdown-toggle<%= @story_filter_language_all ? '' : ' selected' %>" data-toggle="dropdown" tabindex="15"><%= @story_filter_language_all ? t('filters.language_header') : @story_filter_language %><i class='i-icon i-caret'></i></a>             
            <ul class="dropdown-menu">          
              <li class="dropdown">
                <%= link_to I18n.t('filters.all'), url_for(params.merge(:language => nil)), :class => @story_filter_language == I18n.t('filters.all') ? 'active' : '' %>
              </li>
              <% @languages_published.each do |lang| %>
                <li class="dropdown">
                  <%= link_to lang.name, url_for(params.merge(:language => lang.locale)), :class => @story_filter_language == lang.name ? 'active' : '' %>
                </li>
              <% end %>
            </ul>
          </li>
          <li><span class="sort-label"><%= t('filters.sort_header') %>:</span></li>
          <li class="dropdown dropdown-hover sort"><a href="#" class="dropdown-toggle<%= @story_filter_sort_recent ? '' : ' selected' %>"" data-toggle="dropdown" tabindex="16"><%= @story_filter_sort %><i class='i-icon i-caret'></i></a>
            <ul class="dropdown-menu">
              <% I18n.t('filters.sort').each do |key, value| %>
                <li class="dropdown">
                  <%= link_to value, url_for(params.merge(:sort => key)), :class => @story_filter_sort == value ? 'active' : '' %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="pull-right"> 
            <div class="search-wrapper">
              <div class="search-box">
                <div class="search-text">
                  <%= form_tag url_for(params), :method => :get, :id => 'search-filter' do %>
                    <%= text_field_tag :q, params[:q], :placeholder => t('filters.search'), :tabindex => 17, :autocomplete=>'off', :class=>"search-input"%>
                  <% end %>
                </div>
                <div class="search-button"></div>
              </div>
            </div>
          </li>
        </ul>      
    </div>