   <div id="filter">      
        <ul class="nav">
          <li>
            <%= link_to t('filters.staff_pick'), url_for(params.merge(:staff_pick => !@story_filter_staff_pick)),
              :class => "staff_pick #{@story_filter_staff_pick == true ? 'active' : ''}" %>
          </li>

          <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="13">
             <%= t('filters.sort_header') %>
             <b class="caret"></b>
           </a>
            <ul class="dropdown-menu">
              <% I18n.t('filters.sort').each do |key, value| %>
                <li class="dropdown">
                  <%= link_to value, url_for(params.merge(:sort => key)), :class => @story_filter_sort == value ? 'active' : '' %>
                </li>
              <% end %>
            </ul>
          </li>
          <% if @categories_published.present? %>
           <li class="dropdown" tabindex="14">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
              <%= t('filters.category_header') %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">          
              <li class="dropdown">
                <%= link_to I18n.t('filters.all'), url_for(params.merge(:category => nil)), :class => @story_filter_category == I18n.t('filters.all') ? 'active' : '' %>
              </li>
              <% @categories_published.each do |cat| %>
                <li class="dropdown">
                  <%= link_to cat.name, url_for(params.merge(:category => cat.permalink)), :class => @story_filter_category == cat.name ? 'active' : '' %>
                </li>
              <% end %>
            </ul>
          </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="15">
              <%= t('filters.language_header') %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">          
              <li class="dropdown">
                <%= link_to I18n.t('filters.all'), url_for(params.merge(:language => nil)), :class => @story_filter_language == I18n.t('filters.all') ? 'active' : '' %>
              </li>
              <% @languages_published.each do |lang| %>
                <li class="dropdown">
                  <%= link_to lang.name, url_for(params.merge(:language => lang.locale)), :class => @story_filter_language == lang.name ? 'active' : '' %>
                </li>
              <% end %>
            </ul>
          </li>
          <li id="filter_match">
            <!-- <span><%= t('filters.matches') %>: <%= @stories.total_entries %></span> -->

            <div style="width:40px;height:40px;">
              <div class="cprogress" id="showProgress" data-matches="<%= @stories.total_entries %>">
                <div class="percent n<%= @stories.total_entries.to_s.size %>">0</div>
                <div id="slice">
                  <div class="pie"></div>
                </div>
              </div>                                              
            </div>

          </li>
          <li class="pull-right">
            <div class="search-label">
              <%= t('filters.search') %>
            </div>

            <div class="search-wrapper">
              <div class="search-box">
                <div class="search-text">
                  <%= form_tag url_for(params), :method => :get, :id => 'search-filter' do %>
                    <%= text_field_tag :q, params[:q], :placeholder => t('filters.search'), :tabindex => 16 %>
                  <% end %>
                </div>
                <div class="search-button"></div>
              </div>
            </div>
          </li>
        </ul>      
    </div>