<div id="filter">  
  <div class="mob">
    <div class="filters"><%= t('filters.filters') %><i class='s i-caret-b'></i></div>
  </div>
  <ul class="nav h navbar-left">
    <li><div class='all-stories'><%= t('filters.all_stories') %></div></li>
    <li class="li-sort-label"><span class="sort-label"><%= t('filters.sort_header') %>:</span></li>
    <li class="dropdown dropdown-hover sort afilter">
      <a href="#" class="dropdown-toggle<%= @story_filter_sort_recent ? '' : ' selected' %>" 
          data-toggle="dropdown" tabindex="17"  title="<%= t('filters.sort_title') %>"
          data-filtered-by="<%= @story_filter_sort_permalink %>" data-filter-type="sort" 
          data-filter-default="recent">
        <span><%= @story_filter_sort %></span><i class='caret'></i></a>
      <ul class="dropdown-menu afilter-list">
        <% I18n.t('filters.sort').each do |key, value| %>
          <li class="dropdown">
            <%= link_to value, url_for(params.merge(:sort => key)), :class => @story_filter_sort == value ? 'active' : '', :"data-filter" => key %>
          </li>
        <% end %>
      </ul>
    </li>
    <% if @story_filter_show_following %>
      <li class="afilter">
        <%= link_to url_for(params.merge(:following => !@story_filter_following)),
          :title => @story_filter_following ? t('filters.following_title_active') : t('filters.following_title'),
          :class => "following #{@story_filter_following == true ? 'active' : ''}", 
          :tabindex => 18, :"data-filtered-by" => @story_filter_following , 
          :"data-filter-type"=>'following',
          :'data-title' => t('filters.following_title'), :'data-title-active' => t('filters.following_title_active') do %>

           <i class='s i-follow-b <%= "#{@story_filter_following == true ? 'v' : 'h'}"%>'></i><%=  "#{t('filters.following')}" %>
         <% end %>
      </li>
    <% end %>
  </ul>      
</div>
