<%
  logger.debug "====== story id #{story.id}; story locale #{story.story_locale}; story title #{story.title}"

  title = ""   
  if story.about.present?     
    title = truncate(strip_tags_nbsp(story.about), length: 160, separator: ' ')
  end    
  path = @editable && !story.published ? preview_story_path(story) : storyteller_show_path(story.permalink)
%>   
            
  <div class="story-thumbnail">    
     <%= link_to path do %>
        <%= image_tag story.show_asset.asset.url(:thumbnail) %>              
        <div class="story-link">
          <div class='type story_type_<%= story.story_type_id %>' title='<%= get_story_type_name(story.story_type_id) %>'></div>
          <span title="<%= story.title %>"><%= story.title %></span>
       </div>   
      <% end %>

    <% if @editable %>
      <div class="story-edit">                   
        <div class="story-edit-menu">
        <ul class="nav">
        <li class="dropdown dropdown-hover">
         <button type="button"  class="btn dropdown-toggle" data-toggle="dropdown"> 
          <i class="glyphicon glyphicon-pencil" ></i>
        </button>                   
          <ul class="dropdown-menu">
<!--             <li>
                <%= link_to edit_story_path(story), title: t('helpers.links.story_menu.title.edit_story') do %>                            
                  <i class="glyphicon glyphicon-info-sign"></i><%=t('helpers.links.story_menu.link.edit_story')%>
                <% end %>
            </li> -->
            <li>
              <%= link_to  sections_story_path(story), title: t('helpers.links.story_menu.title.admin_story') do %>
              <i class="glyphicon glyphicon-picture"></i><%=t('helpers.links.story_menu.link.admin_story')%>
              <% end %>
            </li>
            <li>
              <%= link_to  collaborators_story_path(story), title: t('helpers.links.story_menu.title.collaborators') do %>
              <i class="glyphicon glyphicon-user"></i><%=t('helpers.links.story_menu.link.collaborators')%>
              <% end %>
            </li>
            <li>
              <a href="#" id='btnPreview' class='preview' title="<%= t('helpers.links.story_menu.title.preview') %>" data-link='<%= path %>'
                  data-modalos-id='modalos-preview' data-type='story'>
                <i class="glyphicon glyphicon-eye-open" ></i><%= t('helpers.links.story_menu.link.preview') %>
              </a>
            </li>
            <% if !story.published %> 
              <li>
                 <a href="#" id='btnReviewer' title="<%= t('helpers.links.story_menu.title.review') %>" data-modalos-id='modalos-reviewer'
                    data-reviewer-key='<%= review_url(story.reviewer_key) %>'
                    data-title='<%= story.title %>'>
                  <i class="glyphicon glyphicon-share" ></i><%= t('helpers.links.story_menu.link.review') %>
                </a>                                                
              </li>
            <% end %>
            <li>               
              <%
                title = story.published ? t('helpers.links.story_menu.title.unpublish') : t('helpers.links.story_menu.title.publish') 
                link_text = story.published ? t('helpers.links.story_menu.link.unpublish') : t('helpers.links.story_menu.link.publish') 
              %>             
              <a href="#" id='btnPublish' title='<%= title %>'
                  <%= 'class="disabled"' if !story.published %> data-link='<%= publish_story_path(story) %>'>
                <i class="glyphicon glyphicon-globe" ></i><span><%= link_text %></span>
              </a>
            </li>
            <li>
              <%= link_to clone_story_path(story) ,  title: t('helpers.links.story_menu.title.clone') do %>
                <i class="glyphicon glyphicon-camera"></i><%=t('helpers.links.story_menu.link.clone')%>
              <% end %> 
            </li>                        
            <li>  
              <%= link_to export_story_path(story) ,  title: t('helpers.links.story_menu.title.export') do %>
                <i class="glyphicon glyphicon-download"></i><%=t('helpers.links.story_menu.link.export')%>
              <% end %>
            </li>                        
            <li>
              <%= link_to story, title: t('helpers.links.story_menu.title.delete_story'), confirm: t("helpers.links.confirm"), method: :delete do %>
                <i class="glyphicon glyphicon-remove"></i><%=t('helpers.links.story_menu.link.delete_story')%>
              <% end %>
            </li>
          </ul>
          </li>
          </ul>
        </div>
      </div> 
      <div class='story-message'></div>
    <% end %>
    
  </div>
  <div class='story-info'>                               
    <div class="story-caption">
      <% truncate_length = story.current_locale == 'ka' ? 130 : 150 %>
      <% 
        about = truncate(strip_tags_nbsp(story.about), length: truncate_length, separator: ' ') 
        if about.present?
          about = about.html_safe 
      %>
        <%= link_to about, path, :title => about, :lang => story.story_locale %>
      <% end %>
    </div>
    <div class="story-misc"> 
      <div class="views" title="<%= t('app.common.views') %>"><%= t('app.common.views') %>: <%= story.impressions_count %></div>  
      <div class="sep"></div>
      <div class="publish-date" title="<%= t('app.common.publish_date') %>">
        <%= l(story.published_at,:format => :publish) if story.published_at.present? %>
      </div>  
    </div> 
  </div>

