<div class="grid-wrapper">
  <div class="grid col-3">      
    <% if @stories.blank? %>
      <p>
        <%= t('.no_stories') %>  
      </p>
    <% else %>

      <% @stories.each_with_index do |story,s_i| %>       
          <% 
            title = story.title.dup
            if story.about.present?
              title << ' - '
              title << strip_tags(story.about)
            end
            # , :title => title
            # :alt => title 
          %>
          <div class="col n-4">                   
              <div class="story-thumbnail">
                 <%= link_to @editable ? preview_story_path(story) : storyteller_show_path(story.permalink) do %>
                    <%= image_tag story.show_asset.asset.url(:thumbnail), :height => '328', :width => '459' %>              
                    <div class="story-link"></div>   
                  <% end %>
         
                <% if @editable %>
                  <div class="story-edit">                   
                    <div class="story-edit-menu">
                    <ul class="nav">
                    <li class="dropdown dropdown-hover">
                     <button type="button"  class="btn dropdown-toggle" data-toggle="dropdown"> 
                      <i class="glyphicon glyphicon-pencil" ></i>
                    </button>                   
                      <ul class="dropdown-menu pull-right">
                        <li>
                            <%= link_to edit_story_path(story) do %>                            
                              <i class="glyphicon glyphicon-info-sign"></i><%=t('helpers.links.edit_story')%>
                            <% end %>
                        </li>
                        <li>
                          <%= link_to  sections_story_path(story) do %>
                          <i class="glyphicon glyphicon-picture"></i><%=t('helpers.links.admin_story')%>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to  collaborators_story_path(story), title: t('.title.collaborators') do %>
                          <i class="glyphicon glyphicon-user"></i><%=t('.link.collaborators')%>
                          <% end %>
                        </li>
                        <li>
                          <a href="#" id='btnPreview' title="<%= t('app.buttons.preview') %>" data-link='<%= preview_story_path(story) %>'>
                            <i class="glyphicon glyphicon-eye-open" ></i><%= t('app.buttons.preview') %>
                          </a>
                        </li>
                        <li>                            
                          <a href="#" id='btnPublish' <%= 'class="disabled"' if !story.published %> data-link='<%= publish_story_path(story) %>'>
                            <i class="glyphicon glyphicon-globe" ></i><span><%= story.published ? t('app.buttons.unpublish') : t('app.buttons.publish') %></span>
                          </a>
                        </li>
                        <% if !story.published %> 
                          <li>
                             <a href="#" id='btnReviewer' title="<%= t('.title.review') %>" data-modalos-id='modalos-reviewer'
                                data-reviewer-key='<%= review_url(story.reviewer_key) %>'>
                              <i class="glyphicon glyphicon-share" ></i><%= t('.link.review') %>
                            </a>                                                
                          </li>
                        <% end %>
                        <li>
                          <%= link_to clone_story_path(story) ,  title: t('.title.clone') do %>
                            <i class="glyphicon glyphicon-camera"></i><%=t('.link.clone')%>
                          <% end %> 
                        </li>                        
                        <li>  
                          <%= link_to export_story_path(story) ,  title: t('.title.export') do %>
                            <i class="glyphicon glyphicon-download"></i><%=t('.link.export')%>
                          <% end %>
                        </li>                        
                        <li>
                          <%= link_to story, confirm: t("helpers.links.confirm"), method: :delete do %>
                            <i class="glyphicon glyphicon-remove"></i><%=t('helpers.links.delete_story')%>
                          <% end %>
                        </li>
                      </ul>
                      </li>
                      </ul>
                    </div>
                  </div>  
                <% end %>
                
              </div>
              <div class='story-info'>                               
              <div class="story-caption">
                <%= link_to truncate(story.title, length: 45, separator: ' '), @editable ?  preview_story_path(story) : storyteller_show_path(story.permalink), :title => title %>
              </div> 
               <div class="story-likes">
                   <%= content_tag(:span, story.likes, :class => "n#{story.likes.to_s.size}" ) %>
              </div>                   
              <div class="story-author">
                  <%= link_to story.user.nickname, author_path(story.user.permalink), :title => story.user.nickname, :class => 'author' %>
              </div>

              <div class="separator"></div>
              <div class="story-publish"><%= l(story.published_at,:format => :publish) if story.published_at.present? %></div>              
            </div>
          </div>  
      <% end %>
    <% end %>
  </div> 
  <%= page_navigation_links @stories %>   
</div>                             


<div id="modalos-preview" style="display:none;width:100%;height:100%;">  
</div>
<div id="modalos-reviewer" style="display:none;width:100%;height:100%;" >
  <%= t('stories.reviewer_key.title') %>
    <p>
      <%= t('stories.reviewer_key.desc', :title => '') %>
    </p>

    
    <div><a id='review_url' href='#'></a></div>
    
    <div>
                <button id="copy-button" class="btn btn-mini" data-clipboard-target="review_url">
                  <%= t('.copy') %>
                </button>
              </div>
                            
              <div id="copied" style="display: none;" class="alert alert-success">
                <%= t('.copied') %>
              </div>
       <script src="/javascripts/ZeroClipboard.min.js"></script>
    <script>
      var client = new ZeroClipboard( document.getElementById("copy-button"), {
        moviePath: "/javascripts/ZeroClipboard.swf"
      } );

      client.on( "load", function(client) {
        client.on( "complete", function(client, args) {
          // `this` is the element that was clicked
          document.getElementById('copied').style.display = 'block';
        } );
      } );
    </script>
</div>
