<ul id="settings-navigation" class="nav nav-tabs">
  <% cls = current_page?(settings_path) ? 'class=active' : '' %>
  <li <%=cls %>>
    <%= link_to settings_path, :title => t('settings.index.title') do %>
      <span class="glyphicon glyphicon-cog"></span>
      <span class="nav-text">
        <%= t('settings.index.title') %>
      </span>
    <% end %>
  </li>
  <% cls = current_page?(settings_notifications_path) ? 'class=active' : '' %>
  <li <%=cls %>>
    <%= link_to settings_notifications_path, :title => t('settings.notifications.title') do %>
      <span class="glyphicon glyphicon-envelope"></span>
      <span class="nav-text">
        <%= t('settings.notifications.title') %>
      </span>
    <% end %>
  </li>
  <% if current_user.role? User::ROLES[:coordinator] %>
    <% cls = current_page?(settings_invitations_path) ? 'class=active' : '' %>
    <li <%=cls %>>
      <%= link_to settings_invitations_path, :title => t('settings.invitations.title') do %>
        <span class="glyphicon glyphicon-user"></span>
        <span class="nav-text">
          <%= t('settings.invitations.title') %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
