<% title t('.title', :name => current_user.nickname) %>

<%= tinymce_assets %>
<%= tinymce %>


<%= semantic_form_for(current_user, :url => settings_path) do |f| %>
	<%= f.error_messages %>

    <%= f.input :default_story_locale , :as => :select, :hint => t('.hint.default_story_locale'), :collection =>  @languages.map{|x| [x.name, x.locale]}, :include_blank => false, :input_html => { :class => "selectpicker", :'data-live-search' => "true", :'data-size' => "7"  } %>


	<%= f.inputs do %>
    <%= f.input :about, :as => :text, hint: t('.hint.about'), :input_html => {:class => "tinymce", :rows => 10}  %>


	<% end %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>
	  <%= link_to t('helpers.links.cancel'), admin_users_path, :class => 'btn btn-mini btn-warning' %>
  </div>
<% end %>
