<% title t('.title', :name => current_user.nickname) %>

<%= tinymce_assets %>
<%= tinymce %>


<%= semantic_form_for(current_user, :url => settings_path, :html => {:multipart => true, :class => 'settings'}) do |f| %>
	<%= f.error_messages %>


	<%= f.inputs do %>
	  <%= f.input :nickname, hint: t('helpers.hints.nickname'), :input_html => { :size => 35 } %>
    <div id="check_nickname_results"></div>

    <%= f.fields_for :local_avatar, current_user.local_avatar do |as| %>
        <%= as.input :asset_type, :as => :hidden %>

        <label class=" control-label" for="user_local_avatar_attributes_asset"><%= t('activerecord.attributes.user.local_avatar') %></label>
        <div class="avatar_container clear">
        	<%= image_tag current_user.avatar_url(:'50x50') %>				
          <div>
            <% if current_user.has_provider_avatar? && !current_user.local_avatar_exists? %>
              <%= t('.facebook_avatar') %>
            <% elsif current_user.has_provider_avatar? %>
              <%= link_to t('.use_facebook_avatar'), settings_remove_avatar_path, :class => 'btn btn-mini btn-warning' %>
            <% end %>
            <%= as.input :asset, :as => :file , hint: t('helpers.hints.local_avatar') , :input_html => { accept:"image/jpeg,image/png" }, label: false  %> 
          </div>
        </div>


    <% end %> 

    <%= f.input :default_story_locale , :as => :select, :hint => t('.hint.default_story_locale'), :collection =>  @languages.map{|x| [x.name, x.locale]}, :include_blank => false, :input_html => { :class => "selectpicker", :'data-live-search' => "true", :'data-size' => "7"  } %>

    <%= f.input :about, :as => :text, hint: t('.hint.about'), :input_html => {:class => "tinymce", :rows => 10}  %>


	<% end %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>
	  <%= link_to t('helpers.links.cancel'), admin_users_path, :class => 'btn btn-mini btn-warning' %>
  </div>
<% end %>
