<% title t('.title') %>

<% if user_signed_in? %>

	<%= render partial: 'shared/settings_nav' %>


	<%= form_tag settings_notifications_path, :id => "notifications", :class => 'formtastic' do %>
		<h3><%= t('.all_sub_title') %></h3>
		<div class="section">
			<%= t('.all_label') %>
			<label for="enable_notifications_true" class="radio">
				<%= radio_button_tag 'enable_notifications', 'true', @enable_notifications %>
				<%= t('.all_yes') %>
			</label>
			<label for="enable_notifications_false" class="radio">
				<%= radio_button_tag 'enable_notifications', 'false', !@enable_notifications %>
				<%= t('.all_no') %>
			</label>
		</div>


		<h3><%= t('.language_sub_title') %></h3>
		<div class="section" id="language_notifications">
			<%= t('.language_label') %>
			<% I18n.available_locales.each do |locale| %>
				<label for="<%= "language_#{locale}"%>" class="radio">
					<%= radio_button_tag 'language', locale, locale.to_s == @language ? true : false %>
					<%= t("app.language.#{locale}") %>
				</label>
			<% end %>
		</div>


		<h3><%= t('.new_themes_sub_title') %></h3>
		<div class="section row clear <%= @enable_notifications ? 'enable_notifications' : 'disable_notifications'%>" id="new_theme_notifications">
			<div class="col-sm-3">
				<label for="themes_all" class="checkbox">
					<%= check_box_tag 'themes_all', 'true', @theme_all %>
					<%= t('.new_themes_all') %>
				</label>
			</div>
			<div class="col-sm-3">
				<label for="themes_types">
					<%= t('.new_stories_by_category') %>
					<br />
					<%= select_tag "themes_types",
							options_from_collection_for_select(@story_types, "id", "name", @theme_notifications.map{|x| x.identifier}),
							:multiple => true, :class => 'selectpicker',
							:title => t('app.common.nothing_selected'),
							:'data-live-search' => "true", :'data-selected-text-format' => "count>2", :'data-size' => "7" %>
				</label>
			</div>
		</div>


		<h3><%= t('.following_sub_title') %></h3>
		<div class="section" id="following_notifications">
			<%= t('.following_label') %>
			<% if @following_authors.present? %>
			  <ul id="following_user_list">
			    <% @following_authors.each do |author| %>
			      <li title="<%= t('.following_title1', :name => author.name) %>" 
			          data-follow="<%= t('.following_title2', :name => author.name) %>" 
			          data-unfollow="<%= t('.following_title1', :name => author.name) %>">
	            <%= image_tag author.avatar_url(:'50x50'), :size=>"50x50", :alt => author.name %>
	    				<%= hidden_field_tag "following[#{author.id}][name]", author.name %>
				      <%= radio_button_tag "following[#{author.id}][wants]", 'true', true %>
				      <%= radio_button_tag "following[#{author.id}][wants]", 'false', false %>
			      </li>
			    <% end %>
		    </ul>
			<% else %>
			  <p>
	  		  <%= t('.following_not') %>
			  </p>
			<% end %>
		</div>


		<div>
			<%= submit_tag t('.submit'), :class => 'btn btn-default' %>
		</div>
	<% end %>

<% else %>
  <p>
    <%= t('.explain')%>
  </p>
  <p>
    <%= link_to t('helpers.links.sign_in2'), :new_user_session, :class => 'btn btn-default btn-sm' %>
  </p>
<% end %>
