<%
  @template = @story.template_id.present? ? @story.template_id : 1
  @export ||= false
  @no_nav ||= false
  @short_url = @story.shortened_url.present? ? @story.shortened_url : storyteller_show_url(@story.permalink)
  @section_count = 0
%>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render partial: "storyteller/template/#{@template}/head"%>
	  <%= include_gon if !@export %>
    <meta name="google" content="notranslate" />
  </head>
  <body>
    <% if !@export %>
      <%= render partial: "layouts/storybuilder_nav" if !@no_nav %>
    <% end %>
    <div id='storyTeller' lang="<%= @story.current_locale %>">
      <%= render partial: "storyteller/template/#{@template}/content"%>
    </div>
  <% if !@export %>
    <div class="info-bottom">
      <div class="info-row">
        <div class="l">
          <div class='authors'>
              <% @story.authors.each{|t| %>
                <div class='author js-u-dib'>
                  <div class='avatar'>
                    <%= link_to image_tag(t.avatar_url, :class=>"avatar"), "#" , :class => "avatar", :"data-toggle"=>"dropdown" %>
                  </div>
                  <div class='name'>
                    <%= link_to t.name, author_path(t.permalink), :title => t.name %>
                  </div>
                  <div class="follow">
                    <%= render partial: 'layouts/follow_link', locals: {:locale => @story.current_locale, :user_id => t.id, :is_story_page => true, :page_to_return_to => storyteller_show_path(:id => @story.permalink, :process_follow => true)} %>
                  </div>
                </div>
              <% } %>
          </div>
        </div>

        <% if @section_count != 1 %>
          <div class="r">
              <div class='share'>
                     <div class="addthis_native_toolbox"></div>
                      <%= link_to '#',   :'data-modalos-id' => "modalos-embed", :title => t('app.common.embed', locale: @story.current_locale), :class => "embed modalEmbed" do %>
                      <% end %>
              </div>
          </div>
        <% end %>
      </div>
      <div class="comments">
        <div class="fb-comments" data-href="<%= storyteller_show_url(:id=>@story.permalink,:sl => @story.current_locale) %>" data-num-posts="5" data-width="100%" id="fbComments"></div>
      </div>
      <% if !@stories.blank? %>
        <div class="related-links">
          <div class="js-label h1"><%= t('storyteller.related_stories') %></div>
          <div class="themes js-u-right">
            <span><%= t('storyteller.view_all_stories_in') %>:&nbsp;</span>
            <% @story.themes.published.each { |t| %>
              <%= link_to t.name.split.map(&:capitalize).join(' '), theme_path(t.permalink) %>
            <% } %>
          </div>
        </div>
      <% end %>
    </div>


  <% if !@stories.blank? %>
    <div class="related-stories">
      <div class="grid-wrapper">
        <div class="grid col-4">
          <% @stories.each_with_index do |story,s_i| %>
            <% story.set_prime_locale(params[:sl]) %>
            <div class="col n-3" lang="<%= story.current_locale %>">
              <%= render partial: "shared/grid_item" , locals:{:story=>story} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="footer story">
       <%= link_to(image_tag("svg/slogo.svg",:style=>"vertical-align:middle;",:alt=>t('app.common.app_name_not_trans')) , root_path(:locale => I18n.locale), title: t('app.common.app_name'), :class=>"slogo-bottom") %>
      <%= link_to(image_tag("svg/logo.svg",:style=>"vertical-align:middle;",:alt=>t('app.common.app_name_not_trans')) , root_path(:locale => I18n.locale), title: t('app.common.app_name'), :class=>"logo") %>
      <div class="powered-by">
        <%= t("app.common.powered_by") %>&nbsp;&nbsp;<a href="http://www.jumpstart.ge" target="_blank" title="<%= t("app.common.js_link_title") %>"><%= t("app.common.powered_by_js") %></a><%= t("app.common.powered_by_end") %>
      </div>
      <div class="center">
        <div><%= link_to t('helpers.links.about'), about_path %></div>
        <div>|</div>
        <div class='copy' data-tip="<%= t('layouts.application.copyright_text') %>">&copy; <%= t('layouts.application.copyright') %></div>
        <div>|</div>
         <div data-tip="<%= t('layouts.application.disclaimer_text') %>"><%= t('layouts.application.disclaimer') %></div>
      </div>
  </div>

    <div id="modalos-embed" style="display:none;" class="embed-window">
      <div class="title"><%= "#{t('app.common.share_story')}" %></div>
      <div class="permalink"><%= "#{t('app.common.permalink')}" %>:</div>
      <div class="permalink-link"><%= link_to storyteller_show_url(@story.permalink), storyteller_show_url(@story.permalink) %></div>
      <div class="shortened-url"><%= "#{t('app.common.shortened_url')}" %>:</div>
      <div class="shortened-url-link"><%= link_to @story.shortened_url, @story.shortened_url if @story.shortened_url.present? %></div>

      <div class="embed">
        <div class="embed-icon"><i class="s i-embed"></i></div>
        <div class="embed-text"><%= "#{t('app.msgs.embed_code')}" %>:</div>
        <div class="embed-code">
        <textarea rows="6" cols="10"  data-iframe-link="<%=embed_url(@story.permalink) %>"
        readonly="" onfocus="setTimeout(function (t){ t.select(); }, 10, this);" onmouseup="return false;"><iframe src='<%=embed_url(@story.permalink) %>?type=partial' width='350' height='100%' frameborder='0'></iframe></textarea>
          <div class="embed-type-switcher">
            <div class="partial selected" title="<%= "#{t('app.common.partial_text')}" %>" data-width="350"><%= "#{t('app.common.partial')}" %></div>
            <div class="full" title="<%= "#{t('app.common.full_text')}" %>" data-width="1000"><%= "#{t('app.common.full')}" %></div>
            <div class="embed-size-w">
              <input type="text" value="350" class="iframe-size"/>
              <span>px <%= "#{t('app.common.wide')}" %></span>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="tip"><div class="content"></div><div class="pointer"></div></div>
  <% end %>
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js" charset="utf-8"></script>
      <script>
/*********************************************************************************************
                                       data
**********************************************************************************************/
        var path =
        {
          <% if !@export %> // normal
            fullscreen:
            {
              desktop:
              {
                video: "/system/places/video/<%= @story.id %>/processed/",
                poster: "/system/places/video/<%= @story.id %>/poster/",
                image: "/system/places/images/<%= @story.id %>/fullscreen/",
                audio: "/system/places/audio/<%= @story.id %>/"
              },
              other:
              { image: "/system/places/images/<%= @story.id %>/mobile_1024/" }
            },
            slideshow:
            {
              desktop:{
                image: "/system/places/slideshow/<%= @story.id %>/slideshow/",
                thumb: "/system/places/slideshow/<%= @story.id %>/thumbnail/"
              },
              other: { image: "/system/places/slideshow/<%= @story.id %>/mobile_1024/"}
            }
          <% else %> // exported
            fullscreen:
            {
              desktop:
              {
                video: "media/video/processed/",
                poster: "media/video/poster/",
                image: "media/images/fullscreen/",
                audio: "media/audio/"
              },
              other:
              { image: "images/slideshow/mobile_1024/" }
            },
            slideshow:
            {
              desktop:{
                image: "media/slideshow/slideshow/",
                thumb: "media/slideshow/thumbnail/"
              },
              other: { image: "media/slideshow/mobile_1024/" }
            }
          <% end %>
        };

       <% if @story.sections.index{|t| t.youtube? && t.youtube.present? }.present? %>

         <%  youtube = []
              @story.sections.select{|t| t.ok? }.sort_by{|v| v.position}.each_with_index do |s,s_i|
                item = {}
                if s.youtube?
                  item[:type] = "youtube"
                  item[:videoId] = s.youtube.url.last(11)
                  # item[:width] = 640
                  # item[:height] = 360
                  item[:loop] = s.youtube.loop ? 1 : 0
                  item[:info] = s.youtube.info ? 1 : 0
                  item[:cc_load_policy] = s.youtube.cc ? 1 : 0
                  item[:hl] = s.youtube.menu_lang
                  item[:cc_lang_pref] = s.youtube.cc_lang
                  item[:rel] = 0
                  youtube<< item
                end
              end
          %>
          var youtube = <%=youtube.to_json.html_safe %>;

          var tag = document.createElement('script');
          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
          var youtubePlayers= [];
          function onYouTubePlayerAPIReady() {
            var youtubeContainers = d3.selectAll(".section .container div[data-yid]");

            if(youtubeContainers[0].length == youtube.length)
            {
              youtube.forEach(function(d,i){
                  if(d.videoId == youtubeContainers[0][i].dataset.yid)
                  {
                    youtubePlayers.push(new YT.Player(
                        youtubeContainers[0][i],
                        {
                          videoId: d.videoId,
                          width: "100%",
                          // width: d.width,
                          // height: d.height,
                          playerVars:{
                            showinfo: d.info,
                            loop: d.loop,
                            cc_load_policy: d.cc_load_policy,
                            hl: d.hl,
                            cc_lang_pref: d.cc_lang_pref,
                            rel: d.rel
                          },
                          events: { 'onStateChange': onPlayerStateChange }
                        }
                    ));
                  }
              });
            }
          }
          function onPlayerStateChange(event) {
            if (event.data == 1){
              if (event.target.hasAlreadyPlayed == undefined){
                var locale = event.target.d.d.playerVars.cc_lang_pref;
                var load_policy = event.target.d.d.playerVars.cc_load_policy;
                if (locale != undefined && load_policy == 1){
                  event.target.loadModule("captions");  //Works for html5 ignored by AS3
                  event.target.setOption("captions", "track", {"languageCode": locale});  //Works for html5 ignored by AS3
                  event.target.loadModule("cc");  //Works for AS3 ignored by html5
                  event.target.setOption("cc", "track", {"languageCode": locale});  //Works for AS3 ignored by html5
                }
                event.target.hasAlreadyPlayed = true;
              }
            }
          }
        <% end %>
      </script>


    <% if !@export %>
      <%= javascript_include_tag  *(@js.present? ? ["application", "story", @js].flatten : ["application", "story"]), :media => "all" %>
    <% else %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/modalos.js"></script>
      <script src="js/story.js"></script>
      <script src="js/page.js"></script>
    <% end %>

    <% if !@export %>
      <div id="fb-root"></div>
      <script>
        I18n.defaultLocale = "<%= I18n.default_locale %>";
        I18n.locale = "<%= I18n.locale %>";

        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=<%= @face_id %>&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        <% if Rails.env.production? %>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-12801815-39', 'auto');
          ga('send', 'pageview');
        <% end %>

        <%
          addthis_id = Rails.env.production? ? ENV['STORY_BUILDER_ADDTHIS_PROFILEID'] : 'ra-51d1537d4a09d85f'
          if addthis_id.present?
        %>
          var addthis_share = { url: '<%= @short_url %>' }
        <% end %>
      </script>
      <% if addthis_id.present? %>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<%= addthis_id %>" async="async"></script>
      <% end %>
    <% end %>

  </body>
</html>


