<% 
  @template = @story.template.id 
  @export ||= false
%>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render partial: "storyteller/template/#{@template}/head"%>

    <% if !@export %>
  	  <%= include_gon %>
    <% end %>

    <meta name="google" content="notranslate" />
  </head>
  <body>  
    <div id="fb-root"></div>
    <%
        face_id = ENV['DEV_FACEBOOK_APP_ID']
        if Rails.env.production?
          face_id = ENV['STORY_BUILDER_FACEBOOK_APP_ID']
        end
    %>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=<%= face_id %>&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <%= render partial: "storyteller/template/#{@template}/nav"%>
    <div id='storyTeller'> 
      <%= render partial: "storyteller/template/#{@template}/content"%>   
    </div>
    <div class="story-info-wrapper">
    <div class="test">
     <div class="story-info-header">
        <div class="story-info-close">
           <img src='/assets/close_dark.png' style="width: 16px;height: 16px;"/> 
        </div>
      </div>
    <div id='story-info'>
       <div class="story-title">        
        <div class="data-block">
      
               
      
        </div>        
      </div>

      <div class="story-block">
        <div class="left-corner"></div>
       <div class="data-block">                
             
                <% markers = @story.sections.select{|t| (t.ok? && t.has_marker? == true) } %>      
                <% if markers.length > 1 %>    
                  <div class="nav-chapters">     
                   <% markers.each_with_index do |s,s_i| %>
                    <a href="#<%= s_i+1 %>" class="navigation-section" ><%= "#{s_i+1}. #{s.title}" %></a>
                   <% end %>          
                  </div>
                <% end %>





         <div class="nav-categories">
          <% 
              colors = ["turquoise","green-sea","emerland","nephritis",
              "peter-river","belize-hole","amethyst","wisteria",
              "wet-asphalt","midnight-blue","sun-flower","orange",
              "carrot","pumpkin","alizarin","pomegranate",
              "clouds","silver","concrete","asbestos"]
            @story.categories.each{|t| %>
              <div class="color <%= colors.sample %>"><%= "#{t.name}" %></div>
            <%}%>
          </div>
          <div class="nav-languages">
              <div class="lang"><%= "#{ @story.language.name}" %></div>   
          </div>      
       
        </div>
         <div class="right-corner"></div>
      </div>
     
      <div class="social">
        <div class="left-corner"></div>
        <div class="data-block">

         <div class="nav-title"><%= @story.title %></div>
        <div>
       <%= @story.about.html_safe  if @story.about.present? %> </div>
          <div class="social">                                      
                                <img src="/assets/fb_.png" style="width:33px; height:33px;"/>
                                <img src="/assets/twitter_.png"  style="width:33px; height:33px;"/>
                                <img src="/assets/mail_.png"  style="width:33px; height:33px;"/>
              </div> 
        </div>
        <div class="right-corner"></div>
      </div>

      <div class="author-info">
            <div class="left-corner"></div>
       <div class="data-block">
          
      </div>
         <div class="right-corner"></div> 
      </div>

      <div class="comments">
        <div class="left-corner"></div>
        <div class="data-block">
          Comments
        </div>
        <div class="right-corner"></div>
      </div>   
     

    </div>
     <div class="story-info-footer">

          <ul class="nav">
          <li>
            <%= link_to t('helpers.links.news'), news_path %>
          </li>
          <li>
            <%= link_to t('helpers.links.todo_list'), todo_list_path %> 
          </li>
          <li>
            <%= link_to t('helpers.links.feedback'), feedback_path %> 
          </li>
           <li>
            <%= link_to t('helpers.links.about'), about_path %> 
          </li>
           <li>
            <%= link_to t('helpers.links.demo'), demo_path %> 
          </li>
          <li>            
            <%= link_to "GitHub", "https://github.com/JumpStartGeorgia/Interactive-Story-Builder.git" %>
          </li>
          
      
        </ul>

      </div>
       </div>
    </div>
    <style>
    .social 
    {
      float:right;
    }
          .nav-languages
       {
      clear: both;
      margin: 0px;
      
      padding-top: 20px;
      }
    .nav-languages .lang
       {
            padding: 5px 10px;
width: auto;
   margin:3px;
display: inline-block;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color:#CFD9FC;

}

       .nav-categories
       {
      clear: both;
      margin: 0px;
      
      padding-top: 20px;
      }
    .nav-categories .color
    {
      margin:3px;
      padding: 5px 10px;
width: auto;
display: inline-block;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    }
    .nav-title
    {
    font-family:  bandera-pro,dejavusans-el;
font-size: 19px;
color: #1a1a1a;
margin: 0px;
padding: 0px;
padding-left: 10px;
margin-bottom:20px;
}
    .nav-chapters a
    {
      display:inline-block;
      clear:both;
      font-family:  georgia;
font-size: 17px;
color: #555;
opacity: 1;
}
    }
        .nav-chapters 
    {
  margin-left: 10px;
    }
  
    .data-block
    {
      clear: both;
      margin: 0px 20px;
    }
    .left-corner,.right-corner
    {
      height:16px;
      width:16px;
      border:none;
      
    }
    .right-corner
    {
      clear:both;
     float:right;
     border-right:1px solid #bbb;
     border-bottom:1px solid #bbb;
    }
    .left-corner
    {
          float:left;
          clear:both;
      border-left:1px solid #bbb;
        border-top:1px solid #bbb;
    }
    .story-info-close
    {
      position: absolute;
      right: 9px;
      top: 9px;
      cursor:pointer;
      opacity:0.6;
      padding:5px;
/*      width: 40px;
  height: 40px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;    
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  margin-top:5px;*/
    }
      .story-info-close:hover
      {
        opacity:1;
      }
    .story-info-header
    {
      height:40px;    
      
    }
    .story-info-footer
    {
      height: 48px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      margin:0px auto;
      border-top: 1px solid #bbb;
      background-image:url("/assets/logo-wheel.png");
      background-position: 105% -17%;
      background-repeat: no-repeat;
    }
/*    .nav-center
    {
      margin: 0px auto;
      font-size: 12px;
      width: 40%;
      text-align: center;      
    }*/
         .story-info-footer ul
    {
      float:right;
      padding-right: 30px;
    }    
    .story-info-wrapper
    {
      display:none;
      position: fixed;
      background-color: #f8f8f8;
      z-index: 999999;   
      margin: auto;  
      border:1px solid #bbb;


    }
    .test
    {
      height:100%;
      position:relative;
    }
    #story-info
    {     
      height:auto;     
        
      margin-top:20px;
      background-color: #f8f8f8;
      z-index: 999999;   
      margin: auto;  
      overflow-x:hidden;    
      overflow-y:scroll;  
      position:absolute;       
      top:40px;
      bottom:48px;
      left:0px;
      right:0px;
      clear:both;
    }
 
    .story-block
    {      
      min-width: 10%;
      /*height:40%;*/
      margin-left: 1.5%;
      /*margin-top:2.5%;*/
      float:left;
      position:relative;    

    }
    .author-info
    {
   
      width: 45%;      
      margin-left: 2.5%;
      /*height:40%;*/
      float:left;
      position:relative;
    }
    .social
    {
    
      width: 45%;      
      margin-left: 2.5%;
      /*height:40%;*/
      float:left;
      position:relative;
    }
    .comments
    {
   
      width: 45%;
      /*height:40%;*/      
      margin-left: 2.5%;
      float:left;
      position:relative;
    }
    .footer-block
    {
      position:absolute;
      bottom:-100px;
    }

  #story-info::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #f8f8f8;
}

        #story-info::-webkit-scrollbar
{
  width: 12px;
  background-color: #f8f8f8;
}

  #story-info::-webkit-scrollbar-thumb
{
  background-color: #878787;  
}


.color.turquoise {
  background: #1ABC9C;
}
.color.green-sea {
  background: #16A085;
}
.color.emerland {
  background: #2ECC71;
}
.color.nephritis {
  background: #27AE60;
}
.color.peter-river {
  background: #3498DB;
}
.color.belize-hole {
  background: #2980B9;
}
.color.amethyst {
  background: #9B59B6;
}
.color.wisteria {
  background: #8E44AD;
}
.color.wet-asphalt {
  background: #34495E;
}
.color.midnight-blue {
  background: #2C3E50;
}
.color.sun-flower {
  background: #F1C40F;
}
.color.orange {
  background: #F39C12;
}
.color.carrot {
  background: #E67E22;
}
.color.pumpkin {
  background: #D35400;
}
.color.alizarin {
  background: #E74C3C;
}
.color.pomegranate {
  background: #C0392B;
}
.color.clouds {
  background: #ECF0F1;
  color: #bdc3c7;
}
.color.silver {
  background: #BDC3C7;
}
.color.concrete {
  background: #95A5A6;
}
.color.asbestos {
  background: #7F8C8D;
}
    </style>
      <% if !@export %>

        <div class="modal fade modal-comments" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    <% 
                      disqus_name = ENV['STORY_BUILDER_DISQUS']
                      disqus_name = ENV['STORY_BUILDER_STAGING_DISQUS'] if Rails.env.staging?
                      url = storyteller_show_url(@story.permalink)
                    %>
                    var disqus_shortname = '<%= disqus_name %>';
                    var disqus_identifier = '<%= @story.id %>';
                    var disqus_title = '<%= @story.title %>';
                    var disqus_url = '<%= url %>';

                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                    
                    var disqus_config = function() {
	                    this.callbacks.onNewComment = [function(comment) { 
                        // this function is in storyteller.js    
                        story_new_comment_callback('<%= url %>');
	                    }];
                    };                    
                </script>
              </div>
            </div>
          </div>
        </div>
    
      <%= javascript_include_tag  *(@js.present? ? ["application", @js].flatten : ["application"]), :media => "all" %>      

		  <script type="text/javascript">
			  I18n.defaultLocale = "<%= I18n.default_locale %>";
			  I18n.locale = "<%= I18n.locale %>";
		  </script>
      
      <% end %>

      <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12801815-33', 'jumpstart.ge');
        ga('send', 'pageview');

      </script>
    <% end %>    
  </body>
</html> 
