<% 
  asset_record ||= nil 
  original ||= false 
  orig_asset_id ||= nil 
%>
<div class="image_asset_form_container clear">
  <div class="preview_img">
    <% if asset_record.present? && asset_record.file.exists? %>
    	<img src="<%= asset_record.file.url(:thumbnail_preview) %>" />  
  	<% end %>
  </div>

  <div class="image_asset_fields">
    <% if !@isTO %>
      <% if !original && orig_asset_id.present?%>
        <div class="boolean input optional checkbox" id="asset_clone_thumbnail">
          <input name="clone_asset" type="hidden" value="0">
          <label class="  control-label" for="clone_asset_<%= orig_asset_id %>">
            <input class="clone_asset" id="clone_asset_<%= orig_asset_id %>" name="clone_asset" type="checkbox" value="1" <%= asset_record.asset_clone_id.present? ? 'checked=checked' : '' %>><%= t('app.common.clone_asset') %>
            <div class="help-inline" original-title="<%= t('helpers.hints.clone_asset') %>">
              <div>?</div>
            </div>
          </label>
        </div>

        <div class="item-asset-clone">
          <%= f.input :asset_clone_id, :as => :hidden, :input_html => {:'data-original-id' => orig_asset_id} %>
        </div>
        <% vis_class = asset_record.asset_clone_id.present? ? 'not-visible' : '' %>
        <div class="item-asset <%= vis_class %>">
          <%= f.input :asset, :as => :file , hint: t('.hint.asset') , :input_html => { :id => "slideshowImage", accept:".jpg,.jpeg,.png" }, label: false %> 
        </div>
      <% else %>
        <%= f.input :asset, :as => :file , hint: t('.hint.asset') , :input_html => { :id => "slideshowImage", accept:".jpg,.jpeg,.png" }, label: false %> 
      <% end %>
    <% else %>
      <div style="height: 99px;">&nbsp;</div>
    <% end %>

    <%= f.input :caption, 
    { :input_html => {}.merge(@readonly) }
    .merge(( (@isTO) ? {} : { hint: t('.hint.caption'), placeholder: t('.placeholder.caption') })) %>

    <%= f.input :source, 
    { :input_html => {}.merge(@readonly) }
    .merge(( (@isTO) ? {} : { hint: t('.hint.source'), placeholder: t('.placeholder.source') })) %>

    <% if !@isTO %>
      <%= f.input :asset_type, :as => :hidden , :input_html => {:value => Asset::TYPE[:slideshow_image]} %>
      <%= f.input :asset_exists, :as => :hidden %>      
    <% end %>

  <% if !@trans %>
    <div class="remove_image_button">
      <%
        asset_id = asset_record.nil? || asset_record.id.nil? ? 0 : asset_record.id
        # sorting a new item does not affect existing items so turn off sorting for new items
        cls = asset_id == 0 ? 'hide-move' : ''
      %>
      <button type="button" data-id="<%= asset_id %>" class="btn btn-sort btn-up-slideshow <%= cls %>" title="<%= t('app.buttons.up') %>"> <i class="glyphicon glyphicon-arrow-up" ></i> </button>
      <button type="button" data-id="<%= asset_id %>" class="btn btn-sort btn-down-slideshow <%= cls %>" title="<%= t('app.buttons.down') %>"><i class="glyphicon glyphicon-arrow-down" ></i></button>
      <%= f.input :_destroy, :as => :hidden, :input_html => { class: 'destroy-asset' } %>
      <button type='button' class='btn btn-danger btn-remove-slideshow' title="<%= t('app.buttons.delete') %>" ><i class='glyphicon glyphicon-remove'></i></button>
    </div>
  <% end %>
  </div>
</div>
