<%= tinymce_assets %>
<%= tinymce :alternate, uploadimage_form_url: imageuploader_path(id:params[:id]), uploadimage_default_img_class: "image", :width => "580px" %>

<%= semantic_form_for(@item, url: content_story_path(id:params[:id]), remote: true) do |f| %>
  <%= f.inputs do %>
    <%= f.input :title, :placeholder=>t('.placeholder.title'), :input_html => { :id => "contentTitle", title: t('.title.title') } %>
    <%= f.input :subtitle, :placeholder=>t('.placeholder.subtitle'), :input_html => { :id => "contentSubtitle", title: t('.title.subtitle') } %>    
    <label><%= t('.content') %></label>
    <%= f.text_area :content, :placeholder=>t('.placeholder.content'), :class => "tinymce", :rows => 40, :cols => 120, :id => "contentArticle", :input_html => { title: t('.title.content')} %>    
     <a class='btn' data-reveal-id="modalContent"><%= t('app.buttons.preview') %></a>          
     
    
    <%= f.input :section_id, :as => :hidden , :input_html => { :id => "contentSection" }  %>
    <% if @item.id.present? %>
    	<%= f.input :id, :as => :hidden , :input_html => { :id => "contentId" }  %>    
    <% end %>

     <div class="pull-right spacer">      
      <%= f.submit nil, :class => 'btn', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>    
      <%= f.submit nil, :class => 'btn' %>        
    </div>
  <% end %>

<% end %>
