<%= semantic_form_for(@item, url: content_story_path(id:params[:id]), remote: true) do |f| %>
  <%= f.inputs do %>
    <%= f.input :title, :placeholder=>t('.ph_title'), :input_html => { :id => "contentTitle" } %>
    <%= f.input :subtitle, :placeholder=>t('.ph_subtitle'), :input_html => { :id => "contentSubtitle" } %>
    <%= f.input :content,:placeholder=>t('.ph_content'), :input_html => { :id => "contentArticle" }  %>

    
     <a class='btn' data-reveal-id="modalContent"><%= t('app.buttons.preview') %></a>          
     
    
    <%= f.input :section_id, :as => :hidden , :input_html => { :id => "contentSection" }  %>
    <% if @item.id.present? %>
    	<%= f.input :id, :as => :hidden , :input_html => { :id => "contentId" }  %>    
    <% end %>

     <div class="pull-right spacer">      
      <%= f.submit nil, :class => 'btn', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>    
      <%= f.submit nil, :class => 'btn' %>        
    </div>
  <% end %>

<% end %>

