<% original ||= false %>
<% readonly = {} %>
<% isTO = @trans && original # if mode is translate and screen is original(first) %>
<% if isTO %>
    <% readonly = { readonly:true , disabled: true } %>
<% end %>

  <h2 class="form-title"><%= t('.form_title') %></h2>
  <%= semantic_form_for(@item, url: embed_media_story_path(id:params[:id],:format => :js), :html => {:id => "embedMediaForm"} ,remote: true) do |f| %>
    <%= f.inputs do %>
      <%
        trans_record = @item.embed_medium_translations.select{|x| x.locale == @item.current_locale}.first
        trans_record = @item.with_translation(@item.current_locale) if trans_record.blank?
      %>
      <%= f.fields_for :embed_medium_translations, trans_record do |f_translation| %>

        <%= (f_translation.input :locale , :as => :hidden) if !isTO %>
         <%= (hidden_field_tag :current_locale , @item.current_locale) if !isTO %>

        <%= f_translation.input :title,
        {
          :input_html => { id: (!isTO ?  "embedMediaTitle" : nil) }
          .merge(readonly)
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.title'), placeholder: t('.placeholder.title') })) %>

        <% if false && !@trans %>
          <div class='one-line'>
            <%= f.input :fullscreen, :as => :boolean, :hint => t('.hint.fullscreen'), :input_html => { id: "embedMediaFullcsreen" } %>
          </div>
        <% end %>
        <% if !@trans %>
          <div class="radio_buttons input required form-group radio-indent radio-hide-button" id="embed_medium_dimension">
            <label class="  control-label" for="embed_medium_dimension">
              <%= t('.dimension') %>
              <abbr title="<%= t('app.common.required') %>">*</abbr>
              <div class="help-inline" title="<%= t('.hint.dimension')%>">
                <div>?</div>
              </div>
            </label>
            <% types = [[t('.preserve'), EmbedMedium::DIMENSION_TYPE[:preserve], 'glyphicon-resize-small'],
                [t('.fit'), EmbedMedium::DIMENSION_TYPE[:fit], 'glyphicon-resize-full'],
                [t('.fullscreen'), EmbedMedium::DIMENSION_TYPE[:fullscreen], 'glyphicon-fullscreen']] %>
            <div class="radio-container">
              <% types.each do |type| %>
                <div class="radio">
                  <% checked = (type[1] == EmbedMedium::DIMENSION_TYPE[:preserve] && @item.dimension.nil?) || type[1] == @item.dimension ? 'checked=checked' : '' %>
                  <input <%= checked %> id="embed_medium_dimension_<%= type[1] %>" name="embed_medium[dimension]" type="radio" value="<%= type[1] %>">
                  <label class="choice" for="embed_medium_dimension_<%= type[1] %>">
                    <span class="glyphicon <%= type[2] %>"></span>
                    <%= type[0] %>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <%
          if @trans && !isTO
            has_url = @parent[:url].present? ? true : @parent[:code].present? ? false : true
          else
            has_url = f_translation.object.url.present? ? true : f_translation.object.code.present? ? false : true
          end
        %>

        <% if !isTO %>
          <div class="input form-group<%= "#{@trans ? ' hidden' : ''}"%>" >
            <label class="control-label">
              <%= t('.embed_source') %>
              <div class="help-inline" title="<%= t('.hint.embed_source') %>"><div>?</div></div>
            </label>
            <div>
              <label for="embed_source_url" style="margin-right:16px;">
                <input <%= has_url ? 'checked' : '' %> name="embed_source" id="embed_source_url" type="radio" value="url">
                <%= t('.embed_source_url') %>
              </label>
              <label for="embed_source_code">
                <input <%= !has_url ? 'checked' : '' %> name="embed_source" id="embed_source_code" type="radio" value="code">
                <%= t('.embed_source_code') %>
              </label>
            </div>
          </div>
        <% end %>

        <%= f_translation.input :url, { :as => :url,
          :wrapper_html => { class: "embed_based_on_url#{has_url ? '' : ' hidden'}" },
          :input_html => { id: (!isTO ? "embedMediaUrl" : nil) }.merge(readonly)
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.url'), placeholder: t('.placeholder.url') })) %>

        <%= f_translation.input :code, { :as => :string ,
          :wrapper_html => { class: "embed_based_on_code#{!has_url ? '' : ' hidden'}" },
          :input_html => { id: (!isTO ? "embedMediaCode" : nil) }.merge(readonly)
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.code'), placeholder: t('.placeholder.code').html_safe })) %>

      <% if !isTO %>
        <button id="btnOlly" type="button" class="btn btn-info btn-xs" style="padding: 2px 6px"><%= t('.get_media') %></button>
      <% else %>
        <div class='dummy24'></div>
      <% end %>

        <div id="embedMediaPreview">
          <h3><%= t('.preview') %></h3>
          <div class="alert alert-danger" id="embedMediaError">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= t('.error') %>
          </div>
          <div<%= !isTO ? " id=embedMediaResult" : "" %>>
            <%= @item.code.html_safe if @item.code.present? %>
          </div>
        </div>

        <% if !isTO %>
          <%= f.input :section_id, :as => :hidden , :input_html => { :id => "embedMediaSection" }  %>
          <% if @item.id.present? %>
            <%= f.input :id, :as => :hidden , :input_html => { :id => "embedMediaId" }  %>
          <% end %>
        <% end %>
    <% end %>
    <% end %>

    <% style = @item.code.blank? ? "style=display:none;" : "" %>
    <% if !isTO %>
      <div class="pull-right spacer" id="embedMediaButtons" <%= style %>>
        <%= f.submit t('app.buttons.save'), :class => 'btn btn-default', :"data-disable-with"=> t('app.buttons.processing') %>
        <%= f.submit t('app.buttons.save_and_next'), :class => 'btn btn-default', :name => "commit_and_next", :"data-disable-with"=> t('app.buttons.processing') %>
        <%= f.submit t('helpers.links.next'), :class => 'btn btn-default', :type => :button, :onclick => 'select_next();' %>
        <%= f.submit t('helpers.links.reset'), :class => 'btn btn-default', :type => :reset, :name => :reset %>
      </div>
    <% end %>
  <% end %>
