<%= semantic_form_for @story do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :user_id %>
    <%= f.input :author %>
  <% end %>


  <div class="pull-right spacer">
    <%= f.submit nil, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>      
  </div>
 
<% end %>
