<%= tinymce_assets %>
<%= tinymce %>

<%= semantic_form_for(@story, :html => {:multipart => true, :id => "storyForm"}) do |f| %>

  <%= f.inputs do %>
    <%= f.input :user_id , :as => :hidden %>

    <%= f.input :title, hint: t('.hint.title'), placeholder: t('.placeholder.title'), :input_html => { id: "storyTitle", :'data-title-was' => @story.title  }   %>

    <%= f.input :permalink_staging, hint: t('.hint.permalink'), placeholder: t('.placeholder.permalink'), :input_html => { id: "storyPermalinkStaging"  }   %>
    <%= f.input :permalink, :as => :hidden, :input_html => { id: "storyPermalink"  }   %>
    <div class="string control-group stringish" id="story_permalink">&nbsp;</div>

    <%= f.input :author, hint: t('.hint.author'), placeholder: t('.placeholder.author'), :input_html => { id: "storyAuthor"  } %>
    <%= f.input :media_author, hint: t('.hint.media_author'), placeholder: t('.placeholder.media_author'), :input_html => { id: "storyMediaAuthor"  }  %>

    <%= f.input :about, :as => :text, hint: t('.hint.about'), :input_html => {:class => "tinymce", :rows => 10}  %>

    <%= f.input :locale , :as => :select, :hint => t('.hint.locale'), :collection =>  @languages.map{|x| [x.name, x.locale]}, :include_blank => false, :input_html => { :id => "storyLocale", :class => "selectpicker", :'data-live-search' => "true", :'data-size' => "7"  } %>

		<%= f.input :categories, :as => :select, :hint => t('.hint.categories'), :collection => @categories, :multiple => true, :input_html => { :id => 'storyCategories', :class => "selectpicker", :'data-live-search' => "true", :'data-selected-text-format' => "count>2", :'data-size' => "7" } %>

    <%= f.input :tag_list, hint: t('.hint.tag_list'), :input_html => { id: "storyTagList", :data => { load: @story_tags}  } %>

    <% if false %>
      <%= f.input :template_id, :as => :select, hint: t('.hint.template'),  :include_blank => false, collection: @templates.map{|t|["#{t.title} - #{t.description}",t.id]} , :input_html => { :id => "storyTemplate"  }   %> 
    <% end %>
   
    <%= f.fields_for :asset, @story.asset do |as| %>
        <%= as.input :asset_type, :as => :hidden %>

        <label class=" control-label" for="modalImage"><%= t('activerecord.attributes.story.thumbnail') %></label>
        <% if @story.asset_exists? %>
          <a class='btn btn-default' data-reveal-id="modalImage"><%= t('app.buttons.preview_image') %></a>
          <div id="modalImage" class="reveal-modal">     
            <div class='modal-data'><img  width='100%' src='<%="#{@story.asset.asset.url}"%>'/></div>
            <a class="close-reveal-modal">&#215;</a>
          </div>  
        <% end %>  

        <%= as.input :asset, :as => :file , hint: t('.hint.thumbnail') , :input_html => { :id => "storyThumbnail", accept:"image/jpeg,image/png" }, label: false  %> 

    <% end %> 

    <% if @story.id.present? %>
      <%= f.input :published, :as => :boolean, hint: t('.hint.published') , :input_html => { id: "storyPublished"} %>   
    <% end %>

    <%= f.input :publish_home_page, :as => :boolean, hint: t('.hint.publish_home_page') , :input_html => { id: "storyPublishHomePage"} %>   


    <% if false %>
      <div class="string control-group required stringish" id="story_user_input">
        <label class=" control-label"><%= t('activerecord.attributes.story.user_id') %></label>
        <div class="controls">
          <input type="text" value="<%= "#{@story.user.nickname}" %>" readonly="readonly">
          <div class="help-inline" title="<%= t('.hint.editor') %>"><div>?</div></div>
        </div>
      </div>
      
      <%= f.input :user_ids , :as => :select, :hint => t('.hint.editors'), :collection =>  Hash[@users.map{|b| [b.nickname,b.id]}], :multiple => true %>
    <% end %>
  <% end %>
  <div class="pull-right spacer">
    <%= f.submit nil, :class => 'btn btn-default' %>
    <%= f.submit nil, :class => 'btn btn-default', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>      
  </div> 
<% end %>


<hr class="clear" />

<h2>Story Owner</h2>
<%= image_tag @story.user.avatar_url(:'50x50'),:size=>"50x50", :title => @story.user.nickname %>

<h2>Story Collaborators</h2>
<p>
  A story collaborator is someone that has access to edit this story.
</p>
<h3>Current Collaborators</h3>
<% if @story.users.present? || @invitations.present? %>
  <ul id="current-collaborators" style="margin-bottom: 10px;">
    <% @story.users.each do |user| %>
      <li style="display:inline-block; margin-right: 5px;">
        <%= image_tag user.avatar_url(:'50x50'),:size=>"50x50", :title => user.nickname %>
        <% if current_user.id == @story.user_id %>
          <%= link_to '#', :class => 'remove-collaborator btn btn-danger btn-xs active', 
                  :style => 'display: block;width: 50px; padding: 1px;', :title => "Remove #{user.nickname}",
                  :'data-id' => user.id,
                  :'data-url' => story_remove_collaborator_path(@story) do %>
            <i style="" class="glyphicon glyphicon glyphicon-remove-circle"></i>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <% @invitations.each do |inv| %>
      <li style="display:inline-block; margin-right: 5px;">
        <% 
          path = nil
          nickname = nil
          email = nil
          if inv.to_user_id.present?
            path = inv.to_user.avatar_url(:'50x50')
            nickname = inv.to_user.nickname
            email = inv.to_user.email
          else
            path = User.new.avatar_url(:'50x50')
            nickname = inv.to_email
            email = inv.to_email
          end
        %>
        <%= image_tag path,:size=>"50x50", :style => 'border: solid 2px #ED9C28;', :title => "#{nickname} has not accepted the invitation yet" %>
        <% if current_user.id == @story.user_id %>
          <%= link_to '#', :class => 'remove-collaborator btn btn-danger btn-xs active', 
                  :style => 'display: block;width: 50px; padding: 1px;', :title => "Remove #{nickname}",
                  :'data-id' => email, 
                  :'data-url' => story_remove_invitation_path(@story) do %>
            <i style="" class="glyphicon glyphicon glyphicon-remove-circle"></i>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <li id="remove-collaborator-message" style="display: none;" class="alert"></li>
  </ul>
<% end %>
<h3>Add Collaborators</h3>
<%= form_tag story_invite_collaborators_path, method: :post, :remote => true  do %>
  <%= hidden_field_tag 'id', params[:id] %>

  <div class="form-group">
    <label for="user_ids">User Ids</label>
    <%= text_field_tag "user_ids", '', class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="emails">Emails</label>
    <%= text_field_tag "emails", '', class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="message">Add Message to Notification (optional)</label>
    <%= text_area_tag "message", '', rows: 5, class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= submit_tag nil, class: 'btn btn-primary' %> 
    <%= button_tag t('helpers.links.reset'), type: 'reset', class: 'btn btn-warning' %> 
  </div>

<% end %>
