<% original ||= false %>
<% @new ||= false %>
<% readonly = {} %>
<% tinyClass = "tinyEditor" %>
<% if @trans %>
  <% if original %>
    <%= tinymce readonly:1 %>      
    <% readonly = { readonly:true , disabled: true } %>
  <% else %>
    <%= tinymce editor_selector: 'tinyEditor2' %>
    <% tinyClass = "tinyEditor2" %>   
  <% end %>
<% elsif %>
  <% content_for(:js) { %>
    <%= tinymce %>
  <% } %>
<% end %>
<% isTO = @trans && original # if mode is translate and screen is original(first) %>

  <%= semantic_form_for(@item, { :html => {:multipart => true, :id => "storyForm", :class => "new"} }.merge( @new ? {} : {url: story_path(id: params[:id], :format => :js), remote: true }) ) do |f| %>
    <% if @new %>
      <%= error_messages_for f.object %>
    <% end %>
    <%= f.inputs do %>
      <%= f.fields_for :story_translations, @item.translation_for(@item.current_locale) do |f_translation| %>

        <%# need this hidden field so can test if user has access to edit the locale if user is translator %>
        <%= hidden_field_tag :current_locale , @item.current_locale if !isTO %>

        <%#= f.input :user_id , :as => :hidden %>

        <%= f_translation.input :locale , :as => :hidden, :input_html => {id: 'storyHiddenLocale'} %>

        <%= f_translation.input :title, 
        { 
          :required => !isTO, :input_html => {}
          .merge( !isTO ? { id: "storyTitle", :'data-title-was' => @item.title } : { id: nil })
          .merge(readonly) 
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.title'), placeholder: t('.placeholder.title') })) %>


        <%= f_translation.input :permalink_staging, { :input_html => { id: (!isTO ? "storyPermalinkStaging" : nil)  }
        .merge(readonly) }
        .merge(( isTO ? {} : { hint: t('.hint.permalink'), placeholder: t('.placeholder.permalink') }))  %>

        <% if !@trans %>
          <%= f.input :user_id , :as => :select, :hint => t('.hint.user_id'), :collection =>  @authors.map{|x| [x.nickname, x.id]}, :input_html => { :id => "storyUserId", :class => "selectpicker", :'data-live-search' => "true", :'data-size' => "10"  } %>
        <% end %>

        <%= f_translation.input :permalink, :as => :hidden, :input_html => { id: (!isTO ? "storyPermalink" : nil)  }   %>
        <div class="string control-group stringish story_permalink" <%= !isTO ? 'id=story_permalink' : ''%>>&nbsp;</div>

        <%= f_translation.input :author, { :required => !isTO, :input_html => { id: (!isTO ? "storyAuthor" : nil) }
        .merge(readonly) }
        .merge(( isTO ? {} : { hint: t('.hint.author'), placeholder: t('.placeholder.author') })) %>

        <%= f_translation.input :media_author, { :input_html => { id: (!isTO ? "storyMediaAuthor" : nil) }.merge(readonly) }.merge(( original ? {} : { hint: t('.hint.media_author'), placeholder: t('.placeholder.media_author') }))  %>
        
        <%= f_translation.input :translation_author, { :input_html => { id: (!isTO ? "storyTranslationAuthor" : nil)  }.merge(readonly) }.merge(( original ? {} : { hint: t('.hint.translation_author'), placeholder: t('.placeholder.translation_author') }))  %>

        <%= f_translation.input :about, { :as => :text, :input_html => {id: tinyClass , :class => tinyClass, :rows => 15}.merge(readonly) }.merge(( original ? {} : { hint: t('.hint.about') }))  %>

        <% if !@trans %>

          <%= f.input :story_locale , :as => :select, :hint => t('.hint.locale'), :collection =>  @languages.map{|x| [x.name, x.locale]}, :include_blank => false, :input_html => { :id => "storyLocale", :class => "selectpicker", :'data-live-search' => "true", :'data-size' => "5"  } %>

          <%= f.input :story_type_id, :as => :select, hint: t('.hint.story_type'),  :include_blank => false, collection: @story_types.map{|t|[t.name,t.id]} , :input_html => { :id => "storyType", :class => "selectpicker", :'data-live-search' => "true", :'data-selected-text-format' => "count>2", :'data-size' => "5", :title => t('app.common.nothing_selected')  }   %> 

          <%= f.input :themes, :as => :select, :hint => t('.hint.theme'), :collection => @themes.map{|x|[x.formatted_name, x.id]}, :multiple => true, :input_html => { :id => 'storyThemes', :class => "selectpicker", :'data-live-search' => "true", :'data-selected-text-format' => "count>2", :'data-size' => "5", :title => t('app.common.nothing_selected') } %>

          <%= f.input :in_theme_slider, :as => :boolean , hint: t('.hint.in_theme_slider'), :default => true, :input_html => { id: "sectionThemeSlider"} %> 
          
        <% end %>

        <% # not used code  %>
        <% if false %>
      		<%= f.input :categories, :as => :select, :hint => t('.hint.categories'), :collection => @categories, :multiple => true, :input_html => { :id => 'storyCategories', :class => "selectpicker", :'data-live-search' => "true", :'data-selected-text-format' => "count>2", :'data-size' => "7", :title => t('app.common.nothing_selected') } %>

          <%= f.input :tag_list, hint: t('.hint.tag_list'), :input_html => { id: "storyTagList", :data => { load: @story_tags}  } %>

          <%= f.input :template_id, :as => :select, hint: t('.hint.template'),  :include_blank => false, collection: @templates.map{|t|["#{t.title} - #{t.description}",t.id]} , :input_html => { :id => "storyTemplate"  }   %> 
        <% end %>
        <% # not used code end %>


        <%= f.fields_for :asset, @item.asset do |as| %>
          <%= as.input :asset_type, :as => :hidden %>

          <label class=" control-label" for="modalImage"><%= t('activerecord.attributes.story.thumbnail') %></label>
          <% if @item.asset_exists? %>
             <a class='btn btn-default preview' id="story-thumbnail-preview" data-modalos-id="modalos-preview" data-type="image"  data-image-path='<%= "#{@item.asset.asset.url(:thumbnail)}" %>'><%=  t('app.buttons.preview_image') %></a>           
          <% end %>  
          <% if !isTO %>
            <%= as.input :asset, :as => :file , hint: t('.hint.thumbnail') , :input_html => { :id => "storyThumbnail", accept:".jpg,.jpeg,.png" }, label: false  %> 
          <% end %> 
        <% end %> 

        
      <% end %>
    <% end %>
    <% if !isTO %>
      <div class="pull-right spacer">
        <%= f.submit t('app.buttons.save'), :class => 'btn btn-default' %>
        <% if !@new %>
          <%= f.submit t('app.buttons.save_and_next'), :class => 'btn btn-default', :name => "commit_and_next" %>        
          <%= f.submit t('helpers.links.next'), :class => 'btn btn-default', :type => :button, :onclick => 'select_next();' %>
        <% end %> 
        <%= f.submit t('helpers.links.reset'), :class => 'btn btn-default', :type => :reset, :name => :reset %>               
      </div> 
    <% end %>
  <% end %>

