<%= semantic_form_for(@story, :html => {:multipart => true, :id => "storyForm"} ,remote: true) do |f| %>
<%= error_messages_for f.object %>


  <%= f.inputs do %>
    <%= f.input :title, :input_html => { id: "storyTitle", title: t('.title.title'), placeholder: t('.placeholder.title')  }   %>

    <%= f.input :user_id , :as => :hidden %>
    <%= f.input :author, :input_html => { id: "storyAuthor", title: t('.title.author'), placeholder: t('.placeholder.author')  } %>
    <%= f.input :media_author, :input_html => { id: "storyMediaAuthor", title: t('.title.media_author'), placeholder: t('.placeholder.media_author')  }  %>
    <%= f.input :template_id, :as => :select,  :include_blank => false, collection: @templates.map{|t|["#{t.title} - #{t.description}",t.id]} , :input_html => { :id => "storyTemplate", title: t('.title.template')  }   %> 
    <% if @story.id.present? %>
      <%= f.input :published, :as => :boolean , :input_html => { id: "storyPublished", title: t('.title.published')} %>   
    <% end %>
    <%= f.input :thumbnail, :as => :file, :hint => t('.hint.thumbnail'), :input_html => { :id => "storyThumbnail", accept:"image/jpeg,image/png" } %>


    <div class="string control-group required stringish" id="story_user_input">
      <label class=" control-label"><%= t('activerecord.attributes.story.user_id') %></label>
      <div class="controls">
        <input type="text" value="<%= "#{@story.user.nickname}" %>" readonly="readonly">
        <span class="help-inline"><%= t('.hint.editor') %></span>
      </div>
    </div>
    <%= f.input :user_ids , :as => :select, :hint => t('.hint.editors'), :collection =>  Hash[@users.map{|b| [b.nickname,b.id]}], :multiple => true %>
  <% end %>
  <div class="pull-right spacer">
    <%= f.submit nil, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>      
  </div> 
<% end %>
