<%- model_class = Medium -%>
<%- model_class_trans = MediumTranslation -%>
<% original ||= false %>
<% readonly = {} %>
<% isTO = @trans && original # if mode is translate and screen is original(first) %>
<% if isTO %>
    <% readonly = { readonly:true , disabled: true } %>
<% end %>
<% form_class = @trans == true && original == false ? 'form-translation' : '' %>

  <h2 class="form-title"><%= t('.form_title') %></h2>
  <%= semantic_form_for(@item, url: media_story_path(id:params[:id],:format => :js), :html => { :multipart=> true, :id => "mediaForm", :class => "#{form_class}" } , remote: true) do |f| %>
    <%= f.inputs do %>
      <%
        trans_record = @item.medium_translations.select{|x| x.locale == @item.current_locale}.first
        trans_record = @item.with_translation(@item.current_locale) if trans_record.blank?
      %>
      <%= f.fields_for :medium_translations, trans_record do |f_translation| %>

        <%# need this hidden field so can test if user has access to edit the locale if user is translator %>
        <%= (hidden_field_tag :current_locale , @item.current_locale) if !isTO %>

        <%= (f_translation.input :locale , :as => :hidden) if !isTO %>

        <%= f_translation.input :title,
        {
          :required => !isTO, :input_html => { id: (!isTO ?  "mediaTitle" : nil) }
          .merge(readonly)
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.title'), placeholder: t('.placeholder.title') })) %>

        <% if @trans %>
          <%# need this hidden field so can properly set value in translation model %>
          <%= f.input :media_type, :as => :hidden %>

        <% else %>
          <div class="radio_buttons input required form-group radio-indent radio-hide-button" id="medium_media_type_input">
            <label class="  control-label" for="medium_media_type">
              <%= model_class.human_attribute_name(:media_type) %>
              <abbr title="<%= t('app.common.required') %>">*</abbr>
              <div class="help-inline" title="<%= t('.hint.media_type')%>">
                <div>?</div>
              </div>
            </label>
            <% types = [[t('.image'), Medium::TYPE[:image], 'glyphicon-picture'], [t('.video'), Medium::TYPE[:video], 'glyphicon-film']] %>
            <div class="radio-container">
              <% types.each do |type| %>
                <div class="radio">
                  <% checked = (type[1] == Medium::TYPE[:image] && @item.media_type.nil?) || type[1] == @item.media_type ? 'checked=checked' : '' %>
                  <input <%= checked %> id="medium_media_type_<%= type[1] %>" name="medium[media_type]" type="radio" value="<%= type[1] %>" <%= (@item.id.present?) ? "disabled" : "" %>>
                  <label class="choice<%= @item.id.present? ? ' disabled' : '' %>" for="medium_media_type_<%= type[1] %>">
                    <span class="glyphicon <%= type[2] %>"></span>
                    <%= type[0] %>
                  </label>
                </div>
                <% if @item.id.present? # the above radion buttons are disabled and so no value is returned so need this to force value in form submit %>
                  <%= f.input :media_type, :as => :hidden %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

        <%
          image_asset_record = trans_record.image
          if image_asset_record.blank?
            image_asset_record = trans_record.build_image(:asset_type => Asset::TYPE[:media_image])
          end
        %>
        <%= f_translation.fields_for :image, image_asset_record do |f_image_asset| %>
          <%= f_image_asset.input :asset_type, :as => :hidden %>
          <%
            asset_class = isTO ? 'original-image-asset' : 'translated-image-asset'
          %>
          <div id='mediaImageBox' <%=  @item.media_type == Medium::TYPE[:video]  ? "style=display:none;" : "" %> >
            <label class=" control-label" for="media-image-preview"><%= t('activerecord.attributes.medium.image') %></label>
            <% if !isTO %>
              <% if !original %>
                <div class="boolean input optional checkbox" id="asset_clone_thumbnail">
                  <input name="clone_image_asset" type="hidden" value="0">
                  <label class="  control-label" for="clone_image_asset">
                    <input id="clone_image_asset" name="clone_image_asset" type="checkbox" value="1" <%= image_asset_record.asset_clone_id.present? ? 'checked=checked' : '' %>><%= t('app.common.clone_asset') %>
                    <div class="help-inline" original-title="<%= t('helpers.hints.clone_asset') %>">
                      <div>?</div>
                    </div>
                  </label>
                </div>

                <%
                  # orig = @item.with_translation(@from)
                  # orig_asset_id = orig.image.id if orig.present? && orig.image.present?

                  orig = @item.with_translation(@from)
                  if orig.present? && orig.image.present?
                    orig_asset_id = orig.image.asset_clone_id.present? ? orig.image.asset_clone_id : orig.image.id
                  end
                  asset_different_locale = false
                %>

                <% if image_asset_record.file.exists? # && %>
                  <% if image_asset_record.asset_clone_id.present? %>
                    <%
                      from_asset_clone_locale = orig.image.asset_clone_id.present? ?
                        orig.image.asset_clone.image.locale :
                        orig.image.present? ? orig.image.image.locale : @from

                      asset_clone_locale = image_asset_record.asset_clone.image.locale  %>
                    <% if from_asset_clone_locale != asset_clone_locale && orig.image.id !=  %>
                      <% asset_different_locale = true
                        initial_orig_asset_id = orig_asset_id
                        orig_asset_id = image_asset_record.asset_clone.id
                      %>
                      <div class="radio_buttons input optional form-group radio-indent radio-hide-button" id="clone_image_asset_sources">
                        <label class="control-label" for="clone_image_asset_sources">
                          <%= t('stories.form.source_to_use') %>
                          <% if !isTO %>
                            <div class="help-inline" title="<%= t('stories.form.hint.source_to_use')%>">
                              <div>?</div>
                            </div>
                          <% end %>
                        </label>
                        <% asset_sources = [[t("app.language.#{asset_clone_locale}"), orig_asset_id, image_asset_record.file.url(:mobile_640)], [t("app.language.#{from_asset_clone_locale}"), initial_orig_asset_id, orig.image.file.url(:mobile_640)]] %>
                        <div class="radio-container">
                          <% asset_sources.each_with_index do |asset_source, asset_source_i| %>
                            <div class="radio">
                              <% checked = asset_source_i == 0 ? 'checked=checked' : '' %>
                              <% if !isTO %>
                              <input <%= checked %> id="clone_image_asset_source_<%= asset_source[1] %>" name="clone_image_asset_source" type="radio" value="<%= asset_source[1] %>" data-image-path='<%= "#{asset_source[2]}" %>'>
                              <% end %>
                              <label class="choice" <%= !isTO ? "for=clone_image_asset_source_#{ asset_source[1]}" : '' %> >
                                <%= asset_source[0] %>
                              </label>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>

                  <a class='btn btn-default preview preview-translated <%= asset_class %>' id="media-image-preview" data-modalos-id="modalos-preview" data-type="image" data-image-path='<%= "#{image_asset_record.file.url(:mobile_640)}"  %>' data-init-path='<%= "#{image_asset_record.file.url(:mobile_640)}"  %>' data-orig-path='<%= "#{orig.image.file.url(:mobile_640)}" %>' data-is-cloned="<%= image_asset_record.asset_clone_id.present? %>" ><%= t('app.buttons.preview_image') %></a>
                <% else %>
                  <a class='btn btn-default preview preview-translated <%= asset_class %>' id="media-image-preview" data-modalos-id="modalos-preview" data-type="image" data-image-path='<%= "#{orig.image.file.url(:mobile_640)}" %>' data-image-new="true" style="display:none;"><%= t('app.buttons.preview_image') %></a>
                <% end %>

                <div id="item-image-asset-clone">
                  <%# if !asset_different_locale %>
                    <%= f_image_asset.input :asset_clone_id, :as => :hidden, :input_html => {:'data-original-id' => orig_asset_id }.merge(image_asset_record.asset_clone_id.present? ? { :value => orig_asset_id } : {}) %>
                  <%# end %>
                </div>

                <% vis_class = image_asset_record.asset_clone_id.present? ? 'not-visible' : '' %>
                <div id="item-image-asset" class="item-asset <%= vis_class %>">
                  <%= f_image_asset.input :asset, :as => :file , hint: t('.hint.image') , :input_html => { :id => "mediaImage", accept:".jpeg,.jpg,.png" }, label: false  %>
                </div>
              <% else %>
                <% if image_asset_record.file.exists? %>
                  <a class='btn btn-default preview preview-translated <%= asset_class %>' id="media-image-preview" data-modalos-id="modalos-preview" data-type="image" data-image-path='<%= "#{image_asset_record.file.url(:mobile_640)}" %>'><%= t('app.buttons.preview_image') %></a>
                <% end %>
                <%= f_image_asset.input :asset, :as => :file , hint: t('.hint.image') , :input_html => { :id => "mediaImage", accept:".jpeg,.jpg,.png" }, label: false  %>
              <% end %>
            <% else %>
              <div style="height: 35px;">&nbsp;</div>
              <a class='btn btn-default preview preview-translated <%= asset_class %>' id="media-image-preview" data-modalos-id="modalos-preview" data-type="image" data-image-path='<%= "#{image_asset_record.file.url(:mobile_640)}" %>'><%= t('app.buttons.preview_image') %></a>
              <div style="height: 28px;">&nbsp;</div>
            <% end %>
          </div>
        <% end %>

        <%
          video_asset_record = trans_record.video
          if video_asset_record.blank?
            video_asset_record = trans_record.build_video(:asset_type => Asset::TYPE[:media_video])
          end
        %>
        <%= f_translation.fields_for :video, video_asset_record do |f_video_asset| %>
          <%= f_video_asset.input :asset_type, :as => :hidden %>
          <%
            asset_class = isTO ? 'original-video-asset' : 'translated-video-asset'
          %>

          <div id='mediaVideoBox' <%=  @item.media_type == Medium::TYPE[:image]  ? "style=display:none;" : "" %> >
            <div>
              <label class=" control-label" for="media-video-preview"><%= t('activerecord.attributes.medium.video') %></label>
              <% preview = false %>
              <% if  video_asset_record.file.exists? && video_asset_record.asset_clone_id.blank? %>
                <% if video_asset_record.processed %>
                  <span class="processed-msg processed">
                    <%= t('app.msgs.video_processed') %>
                  </span>
                  <% preview = true %>

                <% else %>
                  <span class="processed-msg not-processed">
                    <%= t('app.msgs.video_not_processed') %>
                  </span>
                <% end %>
              <% end %>
            </div>

            <% if !isTO %>
              <% if !original %>
                <div class="boolean input optional checkbox" id="asset_clone_thumbnail">
                  <input name="clone_video_asset" type="hidden" value="0">
                  <label class="  control-label" for="clone_video_asset">
                    <input id="clone_video_asset" name="clone_video_asset" type="checkbox" value="1" <%= video_asset_record.asset_clone_id.present? ? 'checked=checked' : '' %>><%= t('app.common.clone_asset') %>
                    <div class="help-inline" original-title="<%= t('helpers.hints.clone_asset') %>">
                      <div>?</div>
                    </div>
                  </label>
                </div>

                <div class="js-row">
                  <% if video_asset_record.asset_clone_id.blank? && preview %>
                    <a class='btn btn-default preview preview-translated <%= asset_class %>' id="media-video-preview" data-modalos-id="modalos-preview" data-type="video" data-video-path='<%= "#{ video_asset_record.media_video_processed_url}" %>' data-video-type='video/mp4'><%= t('app.buttons.preview_video') %></a>
                  <% end %>
                  <div id="item-video-asset-clone">
                    <%
                      # orig = @item.with_translation(@from)
                      # orig_asset_id = orig.present? && orig.video.present? ? orig.video.id : nil

                      orig = @item.with_translation(@from)
                      if orig.present? && orig.video.present?
                        orig_asset_id = orig.video.asset_clone_id.present? ? orig.video.asset_clone_id : orig.video.id
                      end
                    %>
                    <%= f_video_asset.input :asset_clone_id, :as => :hidden, :input_html => {:'data-original-id' => orig_asset_id}.merge(video_asset_record.asset_clone_id.present? ? { :value => orig_asset_id } : {}) %>
                  </div>

                  <% vis_class = video_asset_record.asset_clone_id.present? ? 'not-visible' : '' %>
                  <div id="item-video-asset" class="item-asset <%= vis_class %>">
                    <%= f_video_asset.input :asset, :as => :file , hint: t('.hint.video') , :input_html => { :id => "mediaVideo", accept:".mp4,.mov,.webm,.ogv,.flv,.avi,.wmv" }, label: false %>
                  </div>
                </div>
              <% else %>
                <% if video_asset_record.file.exists? && preview %>
                  <a class='btn btn-default preview preview-translated <%= asset_class %>' id="media-video-preview" data-modalos-id="modalos-preview" data-type="video" data-video-path='<%= "#{ video_asset_record.media_video_processed_url}" %>' data-video-type='video/mp4'><%= t('app.buttons.preview_video') %></a>
                <% end %>
                <%= f_video_asset.input :asset, :as => :file , hint: t('.hint.video') , :input_html => { :id => "mediaVideo", accept:".mp4,.mov,.webm,.ogv,.flv,.avi,.wmv" }, label: false %>
              <% end %>
            <% else %>
              <% if video_asset_record.file.exists? && preview %>
                <div style="height: 35px;">&nbsp;</div>
                <a class='btn btn-default preview preview-translated <%= asset_class %>' id="media-video-preview" data-modalos-id="modalos-preview" data-type="video" data-video-path='<%= "#{ video_asset_record.media_video_processed_url}" %>' data-video-type='video/mp4'><%= t('app.buttons.preview_video') %></a>
                <div style="height: 28px;">&nbsp;</div>
              <% else %>
                <div style="height: 66px;">&nbsp;</div>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <%= f_translation.input :caption,
        {
          :input_html => { id: (!isTO ?  "mediaCaption" : nil) }
          .merge(readonly)
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.caption'), placeholder: t('.placeholder.caption') })) %>

      <div class="radio_buttons input optional form-group radio-indent radio-hide-button" id="medium_caption_align_input">
        <label class="control-label" for="medium_caption_align">
          <%= model_class_trans.human_attribute_name(:caption_align) %>
          <% if !isTO %>
            <div class="help-inline" title="<%= t('.hint.caption_align')%>">
              <div>?</div>
            </div>
          <% end %>
        </label>
        <% aligns = [[t('.left'),-1, 'glyphicon-align-left'], [t('.center'),0, 'glyphicon-align-center'], [t('.right'),1, 'glyphicon-align-right']] %>
        <div class="radio-container">
          <% aligns.each do |align| %>
            <div class="radio">
              <% checked = (align[1] == -1 && @item.caption_align.nil?) || align[1] == @item.caption_align ? 'checked=checked' : '' %>
              <% if !isTO %>
              <input <%= checked %> id="medium_medium_translations_attributes_0_caption_align_<%= align[1] %>" name="medium[medium_translations_attributes][0][caption_align]" type="radio" value="<%= align[1] %>">
              <% end %>
              <label class="choice<%= isTO && checked != '' ? ' checked': '' %>" <%= !isTO ? "for=medium_medium_translations_attributes_0_caption_align_#{ align[1]}" : '' %> >
                <span class="glyphicon <%= align[2] %>"></span>
                <%= align[0] %>
              </label>
            </div>
          <% end %>
        </div>
      </div>

      <div class="radio_buttons input optional form-group radio-indent radio-hide-button" id="medium_infobox_type_input">
        <label class="control-label" for="medium_infobox_type">
          <%= model_class_trans.human_attribute_name(:infobox_type) %>
          <% if !isTO %>
            <div class="help-inline" title="<%= t('.hint.infobox_type')%>">
              <div>?</div>
            </div>
          <% end %>
        </label>
        <% infobox_types = [[t('.floating'),0, 'glyphicon-resize-vertical'], [t('.fixed'),1, 'glyphicon-pushpin']] %>
        <div class="radio-container">
          <% infobox_types.each do |type| %>
            <div class="radio">
              <% checked = (type[1] == 0 && @item.infobox_type.nil?) || type[1] == @item.infobox_type ? 'checked=checked' : '' %>
              <% if !isTO %>
                <input <%= checked %> id="medium_medium_translations_attributes_0_infobox_type_<%= type[1] %>" name="medium[medium_translations_attributes][0][infobox_type]" type="radio" value="<%= type[1] %>">
              <% end %>
              <label class="choice<%= isTO && checked != '' ? ' checked': '' %>" <%= !isTO ? "for=medium_medium_translations_attributes_0_infobox_type_#{ type[1]}" : '' %>
                <span class="glyphicon <%= type[2] %>"></span>
                <%= type[0] %>
              </label>
            </div>
          <% end %>
        </div>
      </div>

        <%= f_translation.input :source,
        {
          :input_html => { id: (!isTO ?  "mediaSource" : nil) }
          .merge(readonly)
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.source'), placeholder: t('.placeholder.source') })) %>

        <% if !isTO %>
          <%= f.input :section_id, :as => :hidden , :input_html => { :id => "mediaSection" }  %>
          <% if @item.id.present? %>
            <%= f.input :id, :as => :hidden , :input_html => { :id => "mediaId" }  %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if !isTO %>
      <div class="pull-right spacer">
        <%= f.submit t('app.buttons.save'), :class => 'btn btn-default', :"data-disable-with"=> t('app.buttons.processing') %>
        <%= f.submit t('app.buttons.save_and_next'), :class => 'btn btn-default', :name => "commit_and_next", :"data-disable-with"=> t('app.buttons.processing') %>
        <%= f.submit t('helpers.links.next'), :class => 'btn btn-default', :type => :button, :onclick => 'select_next();' %>
        <%= f.submit t('helpers.links.reset'), :class => 'btn btn-default', :type => :reset, :name => :reset %>
      </div>
    <% end %>
  <% end %>
