<%- model_class = Story -%>
<% original ||= false %>
<% readonly = {} %>
<% isTO = @trans && original # if mode is translate and screen is original(first) %>
<% if isTO %>
    <% readonly = { readonly:true , disabled: true } %>
<% end %>



  <h2 class="form-title"><%= t('.form_title') %></h2>
  <%= semantic_form_for(@item, url: section_story_path(id:params[:id],:format => :js), :html => {:multipart => true, :id => "sectionForm"} ,remote: true) do |f| %>
    <%= f.inputs do %>
      <%= f.fields_for :section_translations, @item.translation_for(@item.current_locale) do |f_translation| %>

        <%# need this hidden field so can test if user has access to edit the locale if user is translator %>
        <%= hidden_field_tag :current_locale , @item.current_locale if !isTO %>

        <%= (f_translation.input :locale , :as => :hidden) if !isTO %>
     
        <%= f_translation.input :title, 
        { 
          :required => !isTO, :input_html => { id: (!isTO ?  "sectionTitle" : nil) }      
          .merge(readonly) 
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.title'), placeholder: t('.placeholder.title') })) %>

      <% if !@trans %>   
        <div class="radio_buttons input required form-group radio-indent radio-hide-button" id="section_type_id_input">
          <label class="control-label" for="section_type_id">
            <%= model_class.human_attribute_name(:type) %>
            <abbr title="<%= t('app.common.required') %>">*</abbr>
            <div class="help-inline" title="<%= t('.hint.type')%>">
              <div>?</div>
            </div>
          </label>
          <%
            types = []
            Section::TYPE.each{|k,v| types << [I18n.t("section_types.#{k}.name"), v, I18n.t("section_types.#{k}.description"), Section::ICONS[k]]} 
            types.sort_by!{|x| x[0]}
          %>
          <div class="radio-container">
            <% types.each do |type| %>
              <div class="radio">
                <% checked = type[1] == @item.type_id ? 'checked=checked' : '' %>
                <input <%= checked %> id="section_type_id_<%= type[1] %>" name="section[type_id]" type="radio" value="<%= type[1] %>" <%= (@item.id.present?) ? "disabled" : "" %>>
                <label class="choice<%= @item.id.present? ? ' disabled' : '' %>" for="section_type_id_<%= type[1] %>">
                  <i class="s <%= type[3] %>"></i>
                  <%= type[0] %>
                  <div class="help-inline" title="<%= type[2] %>">
                    <div>?</div>
                  </div>
                </label>
              </div>
            <% end %>
          </div>
        </div>

        <%= f.input :has_marker, :as => :boolean, :hint => t('.hint.has_marker'), :input_html => { id: "sectionHasMarker"} %> 
      <% end %>

        <%= f.fields_for :asset, @item.asset do |as| %>
          <div id='sectionAudioBox' style='display:inline-block;vertical-align:bottom;'  >     
            <label class=" control-label" for="modalAudio"><%= t('activerecord.attributes.section.audio') %></label>
            <% if @item.asset.file.exists? %>
                <audio controls>            
                  <source src="<%= @item.asset.file.url %>" type="audio/mpeg">
                  Your browser does not support the audio tag.
                </audio>        
            <% end %>
          </div>
          <% if !isTO %>
            <%= as.input :asset, :as => :file , hint: t('.hint.audio') , :input_html => { :id => "mediaAudio", accept:".mp3" } , label: false  %>
            <% if @item.asset.file.exists? %>
              <%= f.input :delete_audio, :as => :boolean, hint: t('.hint.delete_audio') %>
            <% end %>          
            <%= as.input :asset_type, :as => :hidden %>
          <% end %>
        <% end %> 
        <% if !isTO %>  
          <% if @item.id.present? %>
            <%= (f.input :id, :as => :hidden , :input_html => { :id => "sectionId" }) if !isTO  %>    
          <% end %>
          <%= (f.input :story_id, :as => :hidden , :input_html => { :id => "storyId" }) if !isTO  %>    
        <% end %> 
      <% end %>
    <% end %>

    <% if !isTO %>
      <div class="pull-right spacer">    
        <%= f.submit t('app.buttons.save'), :class => 'btn btn-default' %>
        <%= f.submit t('app.buttons.save_and_next'), :class => 'btn btn-default', :name => "commit_and_next" %>        
        <%= f.submit t('helpers.links.next'), :class => 'btn btn-default', :type => :button, :onclick => 'select_next();' %> 
        <%= f.submit t('helpers.links.reset'), :class => 'btn btn-default', :type => :reset, :name => :reset %>  
      </div>
    <% end %>
  <% end %>