<h2 class="form-title">
  <%= t('.form_title') %>
</h2>
<%= semantic_form_for(@item, url: section_story_path(id:params[:id],:format => :js), :html => {:multipart => true, :id => "sectionForm"} ,remote: true) do |f| %>
  <%= f.inputs do %>
    <%= f.input :title, :placeholder => t('.placeholder.title'), hint: t('.hint.title'), :input_html => { :id => "sectionTitle" } %>
     

  <%= f.input :type_id, :as => :select, hint: t('.hint.type'),  :include_blank => false, :collection => @section_list, :input_html => { :id => "sectionType"  }   %> 

  <%= f.input :has_marker, :as => :boolean, :hint => t('.hint.has_marker'), :input_html => { id: "sectionHasMarker"} %> 
   <%= f.fields_for :asset, @item.asset do |as| %>

    <div id='sectionAudioBox'  >     
      <label class=" control-label" for="modalAudio"><%= t('activerecord.attributes.section.audio') %></label>
      <% if @item.asset.asset.exists? %>
          <audio controls>            
            <source src="<%= @item.asset.asset.url %>" type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>        
      <% end %>
    </div>

        <%= as.input :asset, :as => :file , hint: t('.hint.audio') , :input_html => { :id => "mediaAudio", accept:"audio/mp3" } , label: false  %>
        <%= as.input :asset_type, :as => :hidden %>
    <% end %> 
    <% if @item.id.present? %>
      <%= f.input :id, :as => :hidden , :input_html => { :id => "sectionId" }  %>    
    <% end %>
    <%= f.input :story_id, :as => :hidden , :input_html => { :id => "storyId" }  %>    
  <% end %>


  <div class="pull-right spacer">    
    <%= f.submit nil, :class => 'btn btn-default' %>
    <%= f.submit nil, :class => 'btn btn-default', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>          
  </div>
<% end %>
