
<%= semantic_form_for(@item, url: slideshow_story_path(id:params[:id],:format => :js), :html => { :multipart=> true, :id => "slideshowForm" } , remote: true) do |f| %>
  <%= error_messages_for f.object %>
  <%= f.inputs do %>
    <%= f.input :title, :input_html => { :id => "mediaTitle", title: t('.title.title') } %>
      <%= f.input :caption, :input_html => { :id => "mediaCaption" ,:placeholder =>"Caption for slide", title: t('.title.caption') } %>
 

 

  <%= f.fields_for :assets, @item.assets do |asset| %>
 <p><%= link_to_add_fields "Add Image", asset, :assets %></p>
   <div style="border-bottom:1px solid gray; padding:20px; margin:20px;" class="fields">
    <label class=" control-label" for="slideshowImage"><%= t('activerecord.attributes.medium.image') %></label>
      <%= asset.input :caption %>
      <%= asset.input :source %>
      <%= asset.input :asset, :as => :file , :input_html => { :id => "slideshowImage", accept:"image/jpeg,image/png" , title: t('.title.image') } %>       
    <p><%= link_to_remove_fields "remove", asset %></p>
    <%= asset.input :asset_type, :as => :hidden %>
    </div>
  <% end %> 



 
    <%= f.input :section_id, :as => :hidden , :input_html => { :id => "mediaSection" }  %>
    <% if @item.id.present? %>
      <%= f.input :id, :as => :hidden , :input_html => { :id => "slideshowId" }  %>    
    <% end %>
  <% end %>

  <div class="pull-right spacer">            
    <%= f.submit nil, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>          
  </div>
<% end %>

