<% original ||= false %>
<% @readonly = {} %>
<% @isTO = @trans && original # if mode is translate and screen is original(first) %>
<% if @isTO %>
    <% @readonly = { readonly:true , disabled: true } %>
<% end %>
<% form_class = @trans == true && original == false ? 'form-translation' : '' %>



  <h2 class="form-title"><%= t('.form_title') %></h2>
  <%= semantic_form_for(@item, url: slideshow_story_path(id:params[:id],:format => :js), :html => { :multipart=> true, :id => "slideshowForm", :class => "#{form_class}" } , remote: true) do |f| %>
    <%= f.inputs do %>
      <% trans_record = @item.with_translation(@item.current_locale) %>
      <%= f.fields_for :slideshow_translations, trans_record do |f_translation| %>

        <%= (f_translation.input :locale , :as => :hidden) if !@isTO %>
        <%= (hidden_field_tag :current_locale , @item.current_locale) if !@isTO %>
        
        <%= f_translation.input :title, 
        { 
          :input_html => { id: (!@isTO ?  "slideshowTitle" : nil) }      
          .merge(@readonly) 
        }
        .merge(( (@isTO) ? {} : { hint: t('.hint.title'), placeholder: t('.placeholder.title') })) %>

        <%= f_translation.input :caption, 
        { 
          :input_html => { id: (!@isTO ?  "slideshowCaption" : nil) }      
          .merge(@readonly) 
        }
        .merge(( (@isTO) ? {} : { hint: t('.hint.caption'), placeholder: t('.placeholder.caption') })) %>

        <div id="slideshowAssets" class="clear">
          <% if !@isTO %>
            <% if !original %>
              <% 
                orig = @item.with_translation(@from)
                orig_assets = nil
                orig_assets = orig.assets if orig.present? && orig.assets.present?

                if orig_assets.length != trans_record.assets.length
                  # if there are no trans assets, build the amount needed to match the original
                  if trans_record.assets.length == 0
                    logger.debug "%%%%%%%%% no assets in trans yet, building"
                    (0..orig_assets.length-1).each do |i|
                      logger.debug "%%%%%%%%% i = #{i}"
                      trans_record.assets.build(:asset_type => Asset::TYPE[:slideshow_image])
                      logger.debug "%%%%%%%%% trans assets length = #{trans_record.assets.length}"
                    end
                  else
                    # go through each orig and see if item with same position exists in trans
                    # if not, create it
                    orig_assets.each_with_index do |orig_asset, i|
                      if trans_record.assets[i].blank? || trans_record.assets[i].position != orig_asset.position
                        logger.debug "%%%%%%%%% asset at index #{i} does not have same position, adding"
                        trans_record.assets.insert(i, Asset.new(:asset_type => Asset::TYPE[:slideshow_image]))
                      end
                    end
                  end
                end
                logger.debug "%%%%%%%%% orig assets length = #{orig_assets.length}; trans assets length = #{trans_record.assets.length}"
              %>

              <% trans_record.assets.each_with_index do |asset_record, i| %>  
                 <div class="fields clear">
                    <%= f_translation.fields_for :assets, asset_record do |f_asset| %>
                      <%= render :partial => 'asset_fields', :locals => {:f => f_asset, :asset_record => asset_record, original: original, orig_asset_id: orig_assets[i].id } %>
                    <% end %> 
                  </div>
              <% end %> 
            <% end %>
          <% else %>
            <% trans_record.assets.each_with_index do |asset_record, i| %>  
               <div class="fields clear">
                  <%= f_translation.fields_for :assets, asset_record do |f_asset| %>
                    <%= render :partial => 'asset_fields', :locals => {:f => f_asset, :asset_record => asset_record } %>
                  <% end %> 
                </div>
            <% end %> 

          <% end %>      
        </div>

        <% if !@trans %>
          <div class="add_imgage_button">
            <%= link_to_add_fields t('.add_image'), f_translation, :assets %>
          </div>
        <% end %>
        <%= (f.input :section_id, :as => :hidden , :input_html => { :id => "slideshowSection" }) if !@isTO %>
        <% if @item.id.present? %>
          <%= (f.input :id, :as => :hidden , :input_html => { :id => "slideshowId" }) if !@isTO  %>    
        <% end %>
      <% end %>
    <% end %>

    <% if !@isTO %>
      <div class="pull-right spacer">            
        <%= f.submit t('app.buttons.save'), :class => 'btn btn-default' %>
        <%= f.submit t('app.buttons.save_and_next'), :class => 'btn btn-default', :name => "commit_and_next" %>        
        <%= f.submit t('helpers.links.next'), :class => 'btn btn-default', :type => :button, :onclick => 'select_next();' %> 
        <%= f.submit t('helpers.links.reset'), :class => 'btn btn-default', :type => :reset, :name => :reset %>               
      </div>
    <% end %>    
  <% end %>
