<% original ||= false %>
<% readonly = {} %>
<% isTO = @trans && original # if mode is translate and screen is original(first) %>
<% if isTO %>
    <% readonly = { readonly:true , disabled: true } %>
<% end %>
 
  <h2 class="form-title"><%= t('.form_title') %></h2>
  <%= semantic_form_for(@item, url: youtube_story_path(id:params[:id],:format => :js), :html => {:id => "youtubeForm"} ,remote: true) do |f| %>
    <%= f.inputs do %>
      <%= f.fields_for :youtube_translations, @item.translation_for(@item.current_locale) do |f_translation| %>

        <%= (f_translation.input :locale , :as => :hidden) if !isTO %>
        <%= (hidden_field_tag :current_locale , @item.current_locale) if !isTO %>
        
         <%= f_translation.input :title, 
        { 
          :input_html => { id: (!isTO ?  "youtubeTitle" : nil) }      
          .merge(readonly) 
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.title'), placeholder: t('.placeholder.title') })) %>

        <%= f_translation.input :url, { :as => :url,
          :input_html => { id: (!isTO ? "youtubeUrl" : nil) }      
          .merge(readonly) 
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.url'), placeholder: t('.placeholder.url') })) %>

        <div class='one-line'>
          <% if !@trans %>
            <%= f.input :fullscreen, :as => :boolean, :hint => t('.hint.fullscreen'), :input_html => { id: "youtubeFullcsreen" } %>   
            <%= f.input :loop, :as => :boolean, :hint => t('.hint.loop'), :input_html => { id: "youtubeLoop" } %>   
            <%= f.input :info, :as => :boolean, :hint => t('.hint.info'), :input_html => { id: "youtubeInfo" } %> 
          <% end %>
          <%= f_translation.input :cc, :as => :boolean, :hint => t('.hint.cc'), :input_html => { id: "youtubeCC", class: "end-line one-line"}, :class=>'asdf' %> 
        </div>
        <div class='one-line'>  
          <%= f_translation.input :menu_lang , :as => :select, :hint => t('.hint.menu_lang'), :collection =>  @languages.map{|x| [x.name, x.locale]}, :include_blank => false, :input_html => { :id => "youtubePlayerLang", :class => "selectpicker one-line", :'data-live-search' => "true", :'data-size' => "7"  } %>

          <%= f_translation.input :cc_lang , :as => :select, :hint => t('.hint.cc_lang'), :collection =>  @languages.map{|x| [x.name, x.locale]}, :include_blank => false, :input_html => { :id => "youtubeCCLang", :class => "selectpicker one-line", :'data-live-search' => "true", :'data-size' => "7"  } %>
          <%= f_translation.input :locale, :as => :hidden %>
        </div>
      <% if !isTO %>
        <button id="btnGetEmbed" type="button" class="btn btn-info btn-mini" style="padding: 2px 6px"><%= t('.get_media') %></button>
      <% else %>
        <div class='dummy24'></div>
      <% end %>

        <div id="youtubePreview">
          <h3><%= t('.preview') %></h3>
          <div class="alert alert-danger" id="youtubeError">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= t('.error') %>
          </div>
          <div<%= !isTO ? " id=youtubeResult" : "" %>>
            <%= @item.code.html_safe if @item.code.present? %>
          </div>
        </div>


        <% if !isTO %>
          <%= f.input :section_id, :as => :hidden , :input_html => { :id => "youtubeSection" }  %>
          <% if @item.id.present? %>
            <%= f.input :id, :as => :hidden , :input_html => { :id => "youtubeId" }  %>    
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  <% if !@isTO %>
    <% style = @item.code.blank? ? "style=display:none;" : "" %>
    <div class="pull-right spacer" id="youtubeButtons" <%= style %>>    
      <%= f.submit t('app.buttons.save'), :class => 'btn btn-default' %>
      <%= f.submit t('app.buttons.save_and_next'), :class => 'btn btn-default', :name => "commit_and_next" %>        
      <%= f.submit t('helpers.links.next'), :class => 'btn btn-default', :type => :button, :onclick => 'select_next();' %> 
      <%= f.submit t('helpers.links.reset'), :class => 'btn btn-default', :type => :reset, :name => :reset %>      
    </div>
  <% end %>
  <% end %>
