<% original ||= false %>
<% readonly = {} %>
<% isTO = @trans && original # if mode is translate and screen is original(first) %>
<% if isTO %>
    <% readonly = { readonly:true , disabled: true } %>
<% end %>
 
  <h2 class="form-title"><%= t('.form_title') %></h2>
  <%= semantic_form_for(@item, url: youtube_story_path(id:params[:id],:format => :js), :html => {:id => "youtubeForm"} ,remote: true) do |f| %>
    <%= f.inputs do %>

      <% 
        trans_record = @item.youtube_translations.select{|x| x.locale == @item.current_locale}.first
        trans_record = @item.with_translation(@item.current_locale) if trans_record.blank? 
      %>
      <%= f.fields_for :youtube_translations, trans_record do |f_translation| %>

        <%= (f_translation.input :locale , :as => :hidden) if !isTO %>
        <%= (hidden_field_tag :current_locale , @item.current_locale) if !isTO %>
        
         <%= f_translation.input :title, 
        { 
          :required => !isTO, :input_html => { id: (!isTO ?  "youtubeTitle" : nil) }      
          .merge(readonly) 
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.title'), placeholder: t('.placeholder.title') })) %>

        <%= f_translation.input :url, { :as => :url,
          :required => !isTO, :input_html => { id: "youtubeUrl" }      
          .merge(readonly) 
        }
        .merge(( (isTO) ? {} : { hint: t('.hint.url'), placeholder: t('.placeholder.url') })) %>

        <div class='one-line'>
          <% if !@trans %>
            <%= f.input :fullscreen, :as => :boolean, :hint => t('.hint.fullscreen'), :input_html => { id: "youtubeFullcsreen" } %>   
            <%= f.input :loop, :as => :boolean, :hint => t('.hint.loop'), :input_html => { id: "youtubeLoop" } %>   
            <%= f.input :info, :as => :boolean, :hint => t('.hint.info'), :input_html => { id: "youtubeInfo" } %> 
          <% end %>

            <%= f_translation.input :cc, { :as => :boolean,
            :input_html => { id: "youtubeCC", class: "end-line one-line" }      
            .merge(readonly) 
          }
          .merge(( (isTO) ? {} : { hint: t('.hint.cc') })) %>

        </div>
        <div class='one-line'>  
          <%= f_translation.input :menu_lang , { :as => :select, :collection =>  @languages.map{|x| [x.name, x.locale]}, :include_blank => false,
          :input_html => { id: "youtubePlayerLang", :class => "selectpicker", :'data-live-search' => "true", :'data-size' => "7" }      
          .merge(readonly) 
          }.merge(( (isTO) ? {} : { hint: t('.hint.menu_lang') })) %>

          <%= f_translation.input :cc_lang , { :as => :select, :collection =>  @languages.map{|x| [x.name, x.locale]}, :include_blank => false,
            :input_html => { id: "youtubeCCLang", :class => "selectpicker", :'data-live-search' => "true", :'data-size' => "7" }      
            .merge(readonly) 
          }.merge(( (isTO) ? {} : { hint: t('.hint.cc_lang') })) %>

          <%= f_translation.input :locale, :as => :hidden %>
        </div>
      
        <div class='one-line'>               
          <div><a class='btn btn-default preview preview-translated' id="youtube-preview" data-type="youtube" <%= @trans ? "data-loop=#{@item.loop ? 1 : 0} data-showinfo=#{@item.info ? 1 : 0}" : "" %>><%= t('.preview') %></a></div>
          <div class="alert alert-danger" id="youtubeError">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= t('.error') %>
          </div>
        </div>      
        <% if !isTO %>
          <%= f.input :section_id, :as => :hidden , :input_html => { :id => "youtubeSection" }  %>
          <% if @item.id.present? %>
            <%= f.input :id, :as => :hidden , :input_html => { :id => "youtubeId" }  %>    
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  <% if !isTO %>
    <div class="pull-right spacer" id="youtubeButtons"> 
      <%= f.submit t('app.buttons.save'), :class => 'btn btn-default', :"data-disable-with"=> t('app.buttons.processing') %>
      <%= f.submit t('app.buttons.save_and_next'), :class => 'btn btn-default', :name => "commit_and_next", :"data-disable-with"=> t('app.buttons.processing') %>      
      <%= f.submit t('helpers.links.next'), :class => 'btn btn-default', :type => :button, :onclick => 'select_next();' %> 
      <%= f.submit t('helpers.links.reset'), :class => 'btn btn-default', :type => :reset, :name => :reset %>      
    </div>
  <% end %>
<% end %>
