<h2 class="form-title">
  <span class="glyphicon <%= Section::ICONS[:youtube] %>"></span>
  <span class="form-title-text"><%= t('.form_title') %></span>
</h2>

<%= semantic_form_for(@item, url: youtube_story_path(id:params[:id],:format => :js), :html => {:id => "youtubeForm"} ,remote: true) do |f| %>
<%= error_messages_for f.object %>
  <%= f.inputs do %>
    <%= f.input :title, hint: t('.hint.title'), :input_html => { :id => "youtubeTitle" } %>
    <%= f.input :url, :as => :url, :placeholder => t('.placeholder.url'), :hint => t('.hint.url'), :input_html => { :id => "youtubeUrl" } %>
    <div class='one-line'>
      <%= f.input :fullscreen, :as => :boolean, :hint => t('.hint.fullscreen'), :input_html => { id: "youtubeFullcsreen" } %>   
      <%= f.input :loop, :as => :boolean, :hint => t('.hint.loop'), :input_html => { id: "youtubeLoop" } %>   
      <%= f.input :info, :as => :boolean, :hint => t('.hint.info'), :input_html => { id: "youtubeInfo" } %> 
    
    <%= f.semantic_fields_for :youtube_translations, @item.youtube_translations do |as| %>   
      <%= as.input :cc, :as => :boolean, :hint => t('.hint.cc'), :input_html => { id: "youtubeCC", class: "end-line one-line"}, :class=>'asdf' %> 
    </div>
    <div class='one-line'>  
      <%= as.input :menu_lang , :as => :select, :hint => t('.hint.menu_lang'), :collection =>  @languages.map{|x| [x.name, x.locale]}, :include_blank => false, :input_html => { :id => "youtubePlayerLang", :class => "selectpicker one-line", :'data-live-search' => "true", :'data-size' => "7"  } %>

      <%= as.input :cc_lang , :as => :select, :hint => t('.hint.cc_lang'), :collection =>  @languages.map{|x| [x.name, x.locale]}, :include_blank => false, :input_html => { :id => "youtubeCCLang", :class => "selectpicker one-line", :'data-live-search' => "true", :'data-size' => "7"  } %>
      <%= as.input :locale, :as => :hidden, :value => I18n.locale %>
    <% end %> 
    </div>

    <button id="btnGetEmbed" type="button" class="btn btn-info btn-mini" style="padding: 2px 6px"><%= t('.get_media') %></button>

    <div id="youtubePreview">
      <h3><%= t('.preview') %></h3>
      <div class="alert alert-danger" id="youtubeError">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <% t('.error') %>
      </div>
      <div id="youtubeResult">
        <%= @item.code.html_safe if @item.code.present? %>
      </div>
    </div>


    <%= f.input :section_id, :as => :hidden , :input_html => { :id => "youtubeSection" }  %>
    <% if @item.id.present? %>
      <%= f.input :id, :as => :hidden , :input_html => { :id => "youtubeId" }  %>    
    <% end %>
  <% end %>


  <% 
    style = '' 
    if @item.code.blank? 
      style = "style=display:none;"
     end 
  %>
  <div class="pull-right spacer" id="youtubeButtons" <%= style %>>    
    <%= f.submit nil, :class => 'btn btn-default' %>
    <%= f.submit t('helpers.links.reset'), :class => 'btn btn-default', :type => :reset, :name => :reset %>          
  </div>
<% end %>

