<%= remotipart_response do %>
  <% if remotipart_submitted? 
  		msg = ""
  		msg_type = ""
	  	[:success, :notice, :error, :alert].each do |type|	  		 
	      	msg = flash[type] unless flash[type].blank?
	      	msg_type = type.to_s unless flash[type].blank?	      		      	
		end  		
  	 %>  	 
  	 <% if !msg.empty? %>
  	 	popuper('<%= msg %>' , '<%= msg_type %>');
 	 <% end %>   
  <% end %>
<% end %>

$(document).ready(function() 
{
	var secT = $('.story-tree ul li.item[id='+ section_id + ']');
	var li = null;
	if(secT.has('ul').length>0)
	{
			li = $("<li id='<%= @item.id %>' class='sub'><span><%= @item.title %></span></li>");	
			secT.find('ul').append(li);
	}
	else 
	{		

			li = $("<ul><li id='<%= @item.id %>' class='sub'><span><%= @item.title %></span></li></ul>");			   
			secT.append($(li));	
	}
	
	$('.story-tree ul li').removeClass('active');
	secT.addClass('active');
    secT.children('ul').show();
    li.find('li').trigger('click');
    
	$("html, body").animate({ scrollTop: 0 }, "slow");
});
