<% title t('.title', :title => @story.title) %>

<h2><%= t('.owner_header') %></h2>
<%= image_tag @story.user.avatar_url(:'50x50'),:size=>"50x50", :title => @story.user.nickname %>

<h2><%= t('.collaborators_header') %></h2>
<p>
  <%= t('.explanation') %>
</p>
<h3><%= t('.current_header') %></h3>
<% if @story.users.present? || @invitations.present? %>
  <ul id="current-collaborators" style="margin-bottom: 10px;">
    <% @story.users.each do |user| %>
      <li style="display:inline-block; margin-right: 5px;">
        <%= image_tag user.avatar_url(:'50x50'),:size=>"50x50", :title => user.nickname %>
        <% if current_user.id == @story.user_id %>
          <%= link_to '#', :class => 'remove-collaborator btn btn-danger btn-xs active', 
                  :style => 'display: block;width: 50px; padding: 1px;', :title => t('.remove_title', :name => user.nickname),
                  :'data-id' => user.id,
                  :'data-url' => story_remove_collaborator_path(@story) do %>
            <i style="" class="glyphicon glyphicon glyphicon-remove-circle"></i>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <% @invitations.each do |inv| %>
      <li style="display:inline-block; margin-right: 5px;">
        <% 
          path = nil
          nickname = nil
          email = nil
          if inv.to_user_id.present?
            path = inv.to_user.avatar_url(:'50x50')
            nickname = inv.to_user.nickname
            email = inv.to_user.email
          else
            path = User.new.avatar_url(:'50x50')
            nickname = inv.to_email
            email = inv.to_email
          end
        %>
        <%= image_tag path,:size=>"50x50", :style => 'border: solid 2px #ED9C28;', :title => t('.not_accepted_title', :name => nickname) %>
        <% if current_user.id == @story.user_id %>
          <%= link_to '#', :class => 'remove-collaborator btn btn-danger btn-xs active', 
                  :style => 'display: block;width: 50px; padding: 1px;', :title => t('.remove_title', :name => nickname),
                  :'data-id' => email, 
                  :'data-url' => story_remove_invitation_path(@story) do %>
            <i style="" class="glyphicon glyphicon glyphicon-remove-circle"></i>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <li id="remove-collaborator-message" style="display: none;" class="alert"></li>
  </ul>
<% end %>

<h3><%= t('.add_header') %></h3>
<p>
  <%= t('.add_explanation') %>
</p>

<%= form_tag collaborators_story_path, method: :post, :id => 'collaborators'  do %>

  <div class="form-group">
    <label for="collaborator_ids"><%= t('.search_label') %></label>
    <%= text_field_tag "collaborator_ids", '', class: 'form-control', :data => { load: params[:collaborator_error_ids]} %>
  </div>
  <div class="form-group">
    <label for="message"><%= t('.message') %></label>
    <%= text_area_tag "message", params[:message], rows: 5, class: 'form-control' %>
  </div>

  <div class="pull-right spacer">
    <%= submit_tag t('.submit'), :class => 'btn btn-default' %>
    <%= button_tag t('helpers.links.reset'), type: 'reset', class: 'btn btn-default' %> 
  </div> 

<% end %>
