<% title @story.title.titlecase %>

    <div class="toolbar">
        <div class="btn-group">
          <button type="button" id='btnAddSection' class="btn btn-primary" title="<%= t('app.buttons.add_section') %>"><i class="glyphicon glyphicon-align-justify"></i></button>
          <button type="button" id='btnAddItem' class="btn btn-primary" title="<%= t('app.buttons.add_item') %>"><i class="glyphicon glyphicon-film" ></i></button>
          <button type="button" id='btnDelete' class="btn  btn-danger" title="<%= t('app.buttons.delete_item') %>" ><i class="glyphicon glyphicon-remove" >
            
          </i></button>
          <button type="button" id='btnUp' class="btn btn-info" title="<%= t('app.buttons.up') %>"> <i class="glyphicon glyphicon-arrow-up" ></i> </button>
          <button type="button" id='btnDown' class="btn btn-info" title="<%= t('app.buttons.down') %>"> <i class="glyphicon glyphicon-arrow-down" ></i></button>
        </div>
    </div> 
   <div class='story-tree' id='<%= @story.id %>'>        
    <ul>
        <% @story.sections.each do |item| %>          
            <li id='<%= item.id %>' data-type='<%= item.get_str_type %>' class='item'>
              <div class="box"><div class="collapser">+</div><div class="title"><i class="s <%= item.get_icon %>"></i><%= item.title %></div></div>  

                <% if item.content? && item.content.present? %>
                  <ul class="closed"><li id='<%= item.content.id %>' class='sub'><span><%= item.content.title %></span></li></ul>
                <% elsif item.media? && item.media.present? %>
                  <ul class="closed">
                      <% item.media.each do |subitem| %>                  
                      <li id='<%= subitem.id %>' class='sub'><span><%= subitem.title %></span></li>
                    <%end%>
                  </ul>
                 <% elsif item.slideshow? && item.slideshow.present? %>
                   <ul class="closed"><li id='<%= item.slideshow.id %>' class='sub'><span><%= item.slideshow.title %></span></li></ul>
                 <% elsif item.embed_medium.present? %>
                    <ul class="closed"><li id='<%= item.embed_medium.id %>' class='sub'><span><%= item.embed_medium.title %></span></li></ul>
                <%end%>

            </li>          
        <% end %>            
    </ul>  
  </div>  
  







