
<style>
  .story-tree
  {width:100%;}
  .story-tree ul li ul
  {
    padding-left:10px;
  }
  .story-tree > ul > li.item.active > span
  {
    background-color:#555;
    color:#fff;
  }
    .story-tree ul > li > ul > li.active
  {
    background-color:#555;
    color:#fff;
  }
   .story-tree a
  {
    text-decoration: none;

  }

  #toolbar div
  {
    float:left;
  } 
.clear { 
    clear:both; 
}

  #toolbar
  {
    clear:both;
    display:block;
  }
</style>

<div class='row'>
  <div class='span12'><h1>Story line</h1></div>
</div>
<div class='row'>
  <div class='span3'>   
    <div id='toolbar' class='clear'>
      <div class="btn-group">
        <button type="button btn-small" id='btnAddSection' class="btn btn-primary btn-small"><i class="icon-align-justify icon-white"></i></button>
        <button type="button" id='btnAddItem' class="btn btn-primary btn-small"><i class="icon-film icon-white"></i></button>
        <button type="button" id='btnDelete' class="btn btn-small btn-danger" ><i class="icon-remove icon-white">
          
        </i></button>
        <button type="button" class="btn btn-info  btn-small"> <i class="icon-arrow-up icon-white"></i> </button>
        <button type="button" class="btn btn-info  btn-small"> <i class="icon-arrow-down icon-white"></i></button>
      </div>
    </div>
    <div class='story-tree' id='<%= @story.id %>'>        
      <ul>
          <% @story.sections.each do |item| %>          
              <li id='<%= item.id %>' data-type='<%= item.get_str_type %>' class='item'><span><%= item.title %></span>
                  
                  <% if item.content? && item.content.present? %>
                    <ul><li id='<%= item.content.id %>' class='sub'><span><%= item.content.title %></span></li></ul>
                  <% elsif item.media? && item.media.present? %>
                    <ul>
                        <span><% item.media.each do |subitem| %></span>                  
                        <li id='<%= subitem.id %>' class='sub'><%= subitem.title %></li>
                      <%end%>
                    </ul>
                  <%end%>
              </li>          
          <% end %>    
      </ul>  
    </div>    
  </div>  
  <div class='span9 story-viewer'>
      <div id='sectionForm' style='display:none;'></div>
      <div id='contentForm'  style='display:none;'></div>
      <div id='contentPreview'  style='display:none;' style="float:left; width:500px; height:310px; overflow:scroll;"></div>      
      <div id='mediaForm' style='display:none;'></div>     
  </div>

</div>