<% title  @story.title %>


<div class='row'>
  <div class='span12'>
   <div id='toolbar' class='clear'>
      <div class="btn-group">
        <button type="button btn-small" id='btnAddSection' class="btn btn-primary btn-small" title="<%= t('app.buttons.add_section') %>"><i class="icon-align-justify icon-white"></i></button>
        <button type="button" id='btnAddItem' class="btn btn-primary btn-small" title="<%= t('app.buttons.add_item') %>"><i class="icon-film icon-white" ></i></button>
        <button type="button" id='btnDelete' class="btn btn-small btn-danger" title="<%= t('app.buttons.delete') %>" ><i class="icon-remove icon-white" >
          
        </i></button>
        <button type="button" id='btnUp' class="btn btn-info  btn-small" title="<%= t('app.buttons.up') %>"> <i class="icon-arrow-up icon-white" ></i> </button>
        <button type="button" id='btnDown' class="btn btn-info  btn-small" title="<%= t('app.buttons.down') %>"> <i class="icon-arrow-down icon-white" ></i></button>
         <button type="button"  id='btnPreview' class="btn btn-primary  btn-small" title="<%= t('app.buttons.preview') %>" data-storyteller='<%= storyteller_show_path(@story) %>'> <i class="icon-eye-open icon-white" ></i></button>      
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='span3'>   
 
    <div class='story-tree' id='<%= @story.id %>'>        
      <ul>
          <% @story.sections.each do |item| %>          
              <li id='<%= item.id %>' data-type='<%= item.get_str_type %>' class='item'><span><%= item.title %></span>                  
                  <% if item.content? && item.content.present? %>
                    <ul><li id='<%= item.content.id %>' class='sub'><span><%= item.content.title %></span></li></ul>
                  <% elsif item.media? && item.media.present? %>
                    <ul>
                        <% item.media.each do |subitem| %>                  
                        <li id='<%= subitem.id %>' class='sub'><span><%= subitem.title %></span></li>
                      <%end%>
                    </ul>
                  <%end%>
              </li>          
          <% end %>            
      </ul>  
    </div>
    &nbsp;    
  </div>  
  <div class='span9 story-viewer' id='storyViewer'></div>

</div>

<div id="modalVideo" class="reveal-modal" style='width:853px; height:480px'>   
    <div class='modal-data'>  
        <video preload="auto" width="853px" height="480px" controls>
        <%= t('layouts.unsupported_browser.video') %>            
        </video>
      </div>     
     <a class="close-reveal-modal">&#215;</a>
</div>
<div id="modalImage" class="reveal-modal">     
      <div class='modal-data'></div>
      <a class="close-reveal-modal">&#215;</a>
</div>
<div id="modalContent" class="reveal-modal">     
      <div class='modal-data'></div>
      <a class="close-reveal-modal">&#215;</a>
</div>
<div id="previewStory" class="reveal-modal" style='height:768px;width:1366px'>     
      <div class='modal-data' style="width:100%; height:100%; border:1px solid #bfbfbf;"></div>
      <a class="close-reveal-modal">&#215;</a>
</div> 
