<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>User:</b>
  <%= @story.user_id %>
</p>

<p>
  <b>Author:</b>
  <%= @story.author %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
