

<p id="notice"><%= notice %></p>

<p>
  <b><%= t('activerecord.attributes.story.title') %>:</b>
  <%= @story.title %>
</p>

<p>
  <b><%= t('activerecord.attributes.story.user_id') %>:</b>
  <%= @story.user_id %>
</p>

<p>
  <b><%= t('activerecord.attributes.story.author') %>:</b>
  <%= @story.author %>
</p>


<%= link_to t('helpers.links.edit'), edit_story_path(@story) %> |
<%= link_to t('helpers.links.back'), stories_path %>
