<%= semantic_form_for([:admin,@story_type]) do |f| %>
  <%= f.error_messages %>

  <% create_sorted_translation_objects(@story_type.story_type_translations).each do |trans| %>
    <%= f.fields_for :story_type_translations, trans do |translation| %>

      <div id="form-<%= trans.locale %>" class="multilanguage">
        <h3><%= t("app.language.#{trans.locale}") %></h3>

        <%= translation.input :name, :input_html => {:size => 75} %>
        <%= translation.hidden_field :locale , :input_html => {:value => trans.locale} %>
      </div>

    <% end %>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :sort_order, :as => :string, :input_html => { :size => 5 } %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_story_types_path, :class => 'btn btn-mini btn-warning' %>
  </div>

<% end %>



