<%= semantic_form_for([:admin,@category]) do |f| %>
	<%= f.error_messages %>

  <% create_sorted_translation_objects(@category.category_translations).each do |trans| %>
	  <%= f.fields_for :category_translations, trans do |translation| %>

		  <div id="form-<%= trans.locale %>" class="multilanguage">
			  <h3><%= t("app.language.#{trans.locale}") %></h3>

			  <%= translation.input :name, :input_html => {:size => 75} %>
			  <%= translation.hidden_field :locale , :input_html => {:value => trans.locale} %>
		  </div>

	  <% end %>
  <% end %>

  <div>
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_categories_path, :class => 'btn btn-xs btn-warning' %>
  </div>

<% end %>


