<%- model_class = Category -%>
<%- model_class_trans = CategoryTranslation -%>
<% title t '.title', :default => model_class.model_name.human %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_categories_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_category_path(@category), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_category_path(@category),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
              :class => 'btn btn-danger' %>
	<%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn' %>
</div>

  <p><strong><%= model_class_trans.human_attribute_name(:name) %>:</strong>
  <%= @category.name %></p>

