  <% content_for(:header) { %>
   <header class="header">   
     <div class="author-data">
          <div class="author-logo"><%= image_tag @author.avatar_url(:'168x168'),:size=>"168x168" %></div>
          <div class="author-info">
            <div class="author-nickname"><%= "#{@author.nickname}" %></div>
            <div class="author-about"><%= @author.about.html_safe if @author.about.present? %></div>          
          </div>
          <div class="author-stats"></div>   
           <div class="create-story">
              <%= link_to  t("app.common.create"), new_story_path, :tabindex => 1 %>
          </div> 
      </div> 

  </header>  
<% } %>

  <%= render partial: "shared/filter" %> 
  <%= render partial: "shared/grid" %>    

<% if @editable %>
	<% content_for(:footer) { %>
	   <div id="previewStory" class="reveal-modal">     
	      <div class='modal-data'></div>
	      <a class="close-reveal-modal">&#215;</a>
	  </div>
	  <div id="reviewerKey" class="reveal-modal" style='height:50%;width:50%;top:35px;' >     
	      <div class='modal-data'></div>
	      <a class="close-reveal-modal">&#215;</a>
	  </div>
	<% } %>
<% end %>

