  <% content_for(:header) { %>
   <header class="header">   
     <div class="author-data">
          <div class="author-logo"><%= image_tag @author.avatar_url(:'168x168'),:size=>"168x168" %></div>
          <div class="author-info">
            <div class="author-nickname"><%= "#{@author.nickname}" %></div>
            <div class="author-about"><%= @author.about.html_safe if @author.about.present? %></div>          
          </div>
          <div class="author-stats"></div> 
          <% if @editable %>     
           <div class="build-story">
              <%= link_to  t("app.common.build"), new_story_path, :tabindex => 1 %>
          </div> 
          <% else %>
              <div class="author-follow">
                <%= render partial: 'layouts/follow_link', 
                    locals: {:user_id => @author.id, :page_to_return_to => author_path(:user_id => @author.permalink, :process_follow => true)} %>
              </div> 
          <% end %>
      </div> 

  </header>  
<% } %>

  <%= render partial: "shared/filter" %> 
  <%= render partial: "shared/grid" %>    
