<% title  t('.title') %>

<% if Rails.env.staging? %>
   <h1 style="margin:36px 36px;background-color: #F8E869;padding: 36px;">You are accessing a test site. Please go to <a href="http://storybuilder.jumpstart.ge/en" style="text-decoration:underline;">http://storybuilder.jumpstart.ge/en</a> to use the official site. </h1>
<% end %>

<% if @about_text %>
  <div id="about">
    <%= simple_format(@about_text) %>
  </div>  
<% end %>

<div class="pins-wrapper">
<div class="pin-columns">
    <% @stories.each do |story| %>
     <a href="<%=storyteller_show_path(story) %>">
      <div class="pin">  
     
        <div class="img">
          <img src="<%= story.show_asset.asset.url(:"250x250") %>" />      
        </div>
        <p><div class="pin-caption"><%= story.title.truncate(255) %></div>     </p>
        <p> 
           
        <div class="pin-author"><%= story.author %></div>
       <div class="pin-publish"><%= l(story.published_at,:format => :publish) if story.published_at.present? %></div>        
      </p>
      </div>
     </a> 
    <% end %>    
    </div>
</div>
