
<% content_for(:header) { %>

    <header class="header intro<%= (1..3).to_a.sample %>">
      <div class="header-data">
        <div class="h1">Build and Share</div>
        <div class="h3">the Next Generation Story</div>
        <div class="intro">Story builder allows anyone with text, pictures and/or videos to<br>
        combine this content into a creative story
        that can be published<br> and shared with the world</div>
        <div class="btn-create-story">
               <%= link_to  "Start Story", new_story_path, :tabindex=>1 %>
          </div>       
      </div>
    </header>

<% } %>




<% if Rails.env.staging? %>
   <h1 style="margin:36px 36px;background-color: #F8E869;padding: 36px;line-height: 28px;">You are accessing a test site. Please go to <a href="http://storybuilder.jumpstart.ge/en" style="text-decoration:underline;">http://storybuilder.jumpstart.ge/en</a> to use the official site. </h1>
<% end %>


<%= render partial: "layouts/filter_bar"%> 

<div class="grid col-3">      
  <% @stories.each_with_index do |story,s_i| %>       
      <% 
        title = story.title.dup
        if story.about.present?
          title << ' - '
          title << strip_tags(story.about)
        end
      %>
      <div class="col n-4">                   
          <div class="story-thumbnail">
            <%= link_to storyteller_show_path(story.permalink), :title => title do %>
              <%= image_tag story.show_asset.asset.url(:thumbnail), :height => '328', :width => '459', :alt => title %>
              <div class="story-link"></div>
            <% end %>
          </div>
          <div class='story-info'>   
           <div class="story-likes">
               <%= content_tag(:span, story.impressions_count, :class => "n#{story.impressions_count.to_s.size}" ) %>
          </div>                 
          <div class="story-caption">
            <%= link_to truncate(story.title, length: 45, separator: ' '), storyteller_show_path(story.permalink), :title => title %>
          </div>                   
          <div class="story-author"><a class="author"><%= story.author %></a></div>
          <div class="separator"></div>
          <div class="story-publish"><%= l(story.published_at,:format => :publish) if story.published_at.present? %></div>              
        </div>
      </div>  
  <% end %>  
</div>  
  

  <%= page_navigation_links @stories %>