
<% content_for(:header) { %>
<header>
  <% if @stories_for_slider.present? %>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
       <% @stories_for_slider.each_with_index { |t,i| %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class='<%= i == 0 ? " active" : "" %>'></li>
      <% } %>  
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <% @stories_for_slider.each_with_index { |story,i| %>
          <div class='item<%= i == 0 ? " active" : "" %>'>
            <%= image_tag story.show_asset.asset.url %>
            <div class="carousel-caption">
              <div class='title'><%= link_to story.title, storyteller_show_path(story.permalink) %></div>
              <div class='descr'> <%= strip_tags_nbsp(story.about) %></div>
              <div class='storytype'>
                <div class='storytype-logo story_type_<%= story.story_type_id %>'></div>
                <div class='storytype-label' lang='<%= I18n.locale %>'><%= get_story_type_name(story.story_type_id) %></div>
              </div>
            </div>
          </div>
        <% } %>
      
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon arrow-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon arrow-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!-- Sticker -->
      <div class='sticker'>
        <div class='sticker-wrapper'>
          <%= link_to theme_path(@theme.permalink) do %>
            <div class='title'><%= @theme.name  %></div>
            <div class='sep'></div>
            <div class='date'><%= @theme.edition %></div>  <!-- I18n.l(@theme.edition, :format => '%B %Y')  -->
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</header>

    <!-- <header class="header intro<%= (1..2).to_a.sample %>">
      <div class="header-data">
        <div class="h1">    <%= t("app.common.app_intro").split(';')[0].html_safe %></div>
        <div class="h3">    <%= t("app.common.app_intro").split(';')[1].html_safe %></div>
        <div class="intro"> <%= t("app.common.app_intro").split(';')[2].html_safe %></div>  
        <div class="build-story">
          <% if user_signed_in? %>
            <%= link_to  t("app.common.build"), new_story_path, :tabindex=>1%>
          <% else %>        
          <%= link_to  t("app.common.build"), new_user_session_path({:return_url=>new_story_path}), :tabindex=>1, :class=>"modalSignIn", "data-modalos-id"=>"modalos-sign-in" %>
          <% end %>          
        </div>  
      </div>
        

        <div class="explore"><%= link_to  t("app.common.explore"), '#', :tabindex=>2, :onclick => "scrolldown(true,'.header'); return false;" %></div>  
        <div class="scroll-prompt" onclick="scrolldown(true,'.header'); return false;">
          <svg  x="0px" y="0px" width="18.03px" height="18.042px" viewBox="7.516 6.5 18.03 18.042" enable-background="new 7.516 6.5 18.03 18.042"
             xml:space="preserve">
          <polygon points="16.531,22.763 8.52,14.963 7.695,15.766 16.531,24.367 25.367,15.766 24.544,14.963 "/>
          <polygon points="25.367,7.477 24.544,6.674 16.531,14.475 8.52,6.674 7.695,7.477 16.531,16.079 "/>
          </svg>
        </div>  
    </header> -->

<% } %>
<%= render partial: "shared/filter"%> 
<%= render partial: "shared/grid"%> 
