<% title  t('.title') %>

<% if @about_text %>
  <div id="about">
    <%= simple_format(@about_text) %>
  </div>  
<% end %>

<div class="pins-wrapper">
<div class="pin-columns">
    <% @stories.each do |story| %>
     <a href="<%=storyteller_show_path(story) %>">
      <div class="pin">  
     
        <div class="img">
        <img src="<%= story.thumbnail.url(:"250x250") %>" />      
        </div>
        <p><div class="pin-caption"><%= story.title.truncate(255) %></div>     </p>
        <p> 
           
        <div class="pin-author"><%= story.author %></div>
       <div class="pin-publish"><%= l(story.published_at,:format => :publish) if story.published_at.present? %></div>        
      </p>
      </div>
     </a> 
    <% end %>    
    </div>
</div>