<% title  t('.title') %>

<% if Rails.env.staging? %>
   <h1 style="margin:36px 36px;background-color: #F8E869;padding: 36px;line-height: 28px;">You are accessing a test site. Please go to <a href="http://storybuilder.jumpstart.ge/en" style="text-decoration:underline;">http://storybuilder.jumpstart.ge/en</a> to use the official site. </h1>
<% end %>

<div id="an_container" class="clear">
  <div id="about">
    <h2><%= t('.about_header') %></h2>
    <p>
      <%= t('.about_text', 
          :demo_link => link_to(t('.demo_link'), demo_path), 
          :start_link => link_to(t('.start_link'), stories_path)).html_safe %>
    </p>
  </div>  

  <% if @news.present? %>
    <div id="news">
      <h2><%= t('.news_header') %></h2>
      <ul id="news_container">
        <% @news.each do |news| %>
          <li class="news_item">
            <%= link_to news_show_path(news.permalink) do %>
              <span class="news_date">
                <%= l news.published_at %>
              </span>
              <span class="new_title">
                <%= news.title %>
              </span>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to t('.all_news'), news_path %>
        </li>
      </ul>  
    </div>
  <% end %>
</div>

<div class="pins-wrapper">
  <div class="pin-columns">
    <% @stories.each do |story| %>
     <a href="<%=storyteller_show_path(story.permalink) %>">
      <div class="pin">  
     
        <div class="img">
          <img src="<%= story.show_asset.asset.url(:"250x250") %>" />      
        </div>
        <p><div class="pin-caption"><%= story.title.truncate(255) %></div>     </p>
        <p> 
           
        <div class="pin-author"><%= story.author %></div>
       <div class="pin-publish"><%= l(story.published_at,:format => :publish) if story.published_at.present? %></div>        
      </p>
      </div>
     </a> 
    <% end %>    
    </div>
</div>
