

<% if Rails.env.staging? %>
   <h1 style="margin:36px 36px;background-color: #F8E869;padding: 36px;line-height: 28px;">You are accessing a test site. Please go to <a href="http://storybuilder.jumpstart.ge/en" style="text-decoration:underline;">http://storybuilder.jumpstart.ge/en</a> to use the official site. </h1>
<% end %>


   <div id="filter">
      <div class="container">
        <ul class="nav">
          <li>
            <%= link_to t('filters.staff_pick'), url_for(params.merge(:staff_pick => !@story_filter_staff_pick)),
              :class => "staff_pick #{@story_filter_staff_pick == true ? 'active' : ''}" %>
          </li>

          <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="13">
             <%= t('filters.sort_header') %>:
             <%= @story_filter_sort %>
             <b class="caret"></b>
           </a>
            <ul class="dropdown-menu">
              <% I18n.t('filters.sort').each do |key, value| %>
                <li class="dropdown">
                  <%= link_to value, url_for(params.merge(:sort => key)), :class => @story_filter_sort == value ? 'active' : '' %>
                </li>
              <% end %>
            </ul>
          </li>
           <li class="dropdown" tabindex="14">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
              <%= t('filters.category_header') %>:
              <%= @story_filter_category %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">          
              <li class="dropdown">Animal</li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="15">
              <%= t('filters.language_header') %>:
              <%= @story_filter_language %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">          
              <li class="dropdown">
                <%= link_to I18n.t('filters.all'), url_for(params.merge(:language => nil)), :class => @story_filter_language == I18n.t('filters.all') ? 'active' : '' %>
              </li>
              <% @languages_published.each do |lang| %>
                <li class="dropdown">
                  <%= link_to lang.name_count, url_for(params.merge(:language => lang.locale)), :class => @story_filter_language == lang.name ? 'active' : '' %>
                </li>
              <% end %>
            </ul>
          </li>
          <li id="filter_match">
            <span><%= t('filters.matches') %>: <%= @stories.total_entries %></span>
          </li>
          <li class="pull-right">
            <div class="search-label">
              <%= t('filters.search') %>
            </div>

            <div class="search-wrapper">
              <div class="search-box">
                <div class="search-text">
                  <%= form_tag url_for(params), :method => :get, :id => 'search-filter' do %>
                    <%= text_field_tag :q, params[:q], :placeholder => t('filters.search'), :tabindex => 16 %>
                  <% end %>
                </div>
                <div class="search-button"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


<div class="grid col-3">      
  <% @stories.each_with_index do |story,s_i| %>       
      <% 
        title = story.title.dup
        if story.about.present?
          title << ' - '
          title << strip_tags(story.about)
        end
      %>
      <div class="col n-4">                   
          <div class="story-thumbnail">
            <%= link_to storyteller_show_path(story.permalink), :title => title do %>
              <%= image_tag story.show_asset.asset.url(:thumbnail), :height => '328', :width => '459', :alt => title %>
              <div class="story-link"></div>
            <% end %>
          </div>
          <div class='story-info'>   
           <div class="story-likes">
            <%= link_to story.impressions_count, storyteller_show_path(story.permalink), :class => "n#{story.impressions_count.to_s.size}" %>
          </div>                 
          <div class="story-caption">
            <%= link_to truncate(story.title, length: 45, separator: ' '), storyteller_show_path(story.permalink), :title => title %>
          </div>                   
          <div class="story-author"><a class="author"><%= story.author %></a></div>
          <div class="separator"></div>
          <div class="story-publish"><%= l(story.published_at,:format => :publish) if story.published_at.present? %></div>              
        </div>
      </div>  
  <% end %>  
</div>  
  

  <%= page_navigation_links @stories %>
