<%= semantic_form_for([:admin,@user]) do |f| %>
	<%= f.error_messages %>

	<%= f.inputs do %>
		<%= f.input :email, :input_html => {:size =>35} %>
		<%= f.input :password, :input_html => {:size => 35}  %>
		<%= f.input :password_confirmation, :input_html => {:size => 35}  %>
		<% if current_user.role?(User::ROLES[:admin]) %>
			<%= f.input :role, :as => :select, :collection => User::ROLES.map{|key,value| [key.to_s.humanize, value.to_s]}  %>
		<% else %>
			<%= f.hidden_field :role , :input_html => {:value => User::ROLES[:user]} %>
		<% end %>

	<% end %>


  <div>
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
	  <%= link_to t('helpers.links.cancel'), admin_users_path, :class => 'btn btn-xs btn-warning' %>
  </div>
<% end %>
