<%- model_class = User -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
<%= link_to t('helpers.links.new'),
            new_admin_user_path,
            :class => 'btn btn-primary' %>
<%= link_to t('helpers.links.admin'), admin_path,
:class => 'btn' %>
</div>

<table class="table table-striped display" id="users-datatable" data-source="<%= admin_users_url(:format => :json) %>">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th><%=	t('app.common.actions') %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
