<%     
  showing_story ||= false  
  @root_page ||= false  
%>
   <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
        <div class="pull-left nav-logo">
          <%= link_to(image_tag("logo.png",:size=>"182x29",:style=>"vertical-align:middle;",:alt=>t('app.common.app_name')) , root_path(:locale => I18n.locale))%>
            <% if @story.present? && showing_story %>

              <%= link_to(@story.title, root_path(:locale => I18n.locale), :class=>"navigation-headline brand font" , :"data-target"=>".nav-collapse", :"data-toggle"=>"collapse")%>  
            <% end %>
        </div>
          <div class="nav-collapse navbar-collapse nav-user pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav">         
                    
              <% if user_signed_in? %>
                <% if current_user.avatar.present? %>
                      <li >
                    <%= link_to image_tag(current_user.avatar,:size=>"28x28", :class=>"avatar"), "#" , 
                         :class => "dropdown-toggle avatar-link", :"data-toggle"=>"dropdown" %>       
                       
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to t('helpers.links.add_story'), new_story_path  %>
                    </li>              
                    <li>
                      <%= link_to t('helpers.titles.story_list'), stories_path  %>
                    </li>              
                    <% if current_user.role? User::ROLES[:admin] %>
                      <li>
                       <%= link_to t('helpers.links.news'), admin_news_index_path %>
                      </li>
                      <li>
                       <%= link_to t('helpers.links.users'), admin_users_path %>
                      </li>
                    <% end %>     
                    <li>
                     <%= link_to t('helpers.links.sign_out'), destroy_user_session_path, :method => :delete %>
                    </li>
                  </ul>
                </li>


                <% end %>                     

                <% else %>
                 <li>
                  <%= link_to t('helpers.links.sign_in2'), :new_user_session %>
                </li>
               <% end %> 
              <% I18n.available_locales.each do |locale| %>
                <% if locale != I18n.locale %>
                  <li><%= link_to t("app.language.#{locale}"), params.merge(:locale => locale) , :"data-target"=>".nav-collapse", :"data-toggle"=>"collapse"%></li>
                <% end %>
              <% end %>
      

              <% if @story.present? && @story.sections.present? && showing_story %>
                <li class="divider-vertical"></li>
                
                <li><a href="#" class="navigation-volume"><div class="navigation-icon"></div></a></li>             
                 <li>
                  <% markers = @story.sections.select{|t| (t.ok? && t.has_marker? == true) } %>      
                  <% if markers.length > 1 %>    
                    <div class="navigation-sections">     
                     <% markers.each_with_index do |s,s_i| %>
                      <a href="#<%= s_i+1 %>" class="navigation-section" title="<%= s.title %>"><%= s_i+1 %></a>
                     <% end %>          
                    </div>
                  <% end %>
                </li>            
              <% end %>
            </ul>

           </div>
      </nav>
