<% 
  @navbar_invisible ||= false    
%>
<nav class="navbar navbar-default navbar-static-top navbar-storybuilder <%= @navbar_invisible ? 'navbar-invisible' : '' %>" role="navigation">  
  <div class="container-fluid">  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#storybuilder-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to(image_tag("logo.png",:size=>"182x29",:style=>"vertical-align:middle;",:alt=>t('app.common.app_name')) , root_path(:locale => I18n.locale), :class=>"navbar-logo link") %>          
    </div>

    <div class="collapse navbar-collapse" id="storybuilder-navbar-collapse">
    
      <div class="nav-separator"></div>
        <%= form_tag root_path, :method => :get, :id => 'search-form',
        :class => "navbar-form navbar-left", :role => "search" do %>
          <div class="form-group">            
            <%= text_field_tag :q, params[:q], :placeholder => t('app.common.search'), :class=>"form-control search-input", :autocomplete=>'off', :tabindex => 1 %>
          </div>
      <% end %>

      
      <ul class="nav navbar-nav navbar-right">    
          <li> 
              <% if user_signed_in? %>
                <%= link_to new_story_path , :tabindex=>2, :class=>"build-story link" do %>
                  <i class="i-icon i-build"></i><%= "#{t('app.common.build')}" %>
                <% end %>
              <% else %>
               <%= link_to new_user_session_path({:return_url=>new_story_path}), :tabindex=>2, :class=>"build-story link modalSignIn",  :"data-modalos-id"=>"modalos-sign-in" do %>
                  <i class="i-icon i-build"></i><%= "#{t('app.common.build')}" %>
                <% end %>
              <% end %>
          </li> 


      <% if user_signed_in? %>
        <li class="dropdown dropdown-hover">
          <%= link_to image_tag(current_user.avatar_url, :class=>"avatar link"), "#" , 
               :class => "dropdown-toggle avatar-link", :"data-toggle"=>"dropdown" %>                          
          <ul class="dropdown-menu pull-right">                  
            <li>
              <%= link_to t('helpers.titles.story_list'), stories_path  %>
            </li>  
            <li>
              <%= link_to t('app.common.build'), new_story_path  %>
            </li>              
            <li>
              <%= link_to t('helpers.links.user_settings'), settings_path  %>
            </li>              
            <% if current_user.role? User::ROLES[:admin] %>
              <li>
               <%= link_to t('helpers.links.news'), admin_news_index_path %>
              </li>
              <li>
               <%= link_to t('helpers.links.users'), admin_users_path %>
              </li>
            <% end %>               
            <li>
             <%= link_to t('helpers.links.sign_out'), destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to t('helpers.links.sign_in2'), :new_user_session, :class => 'link modalSignIn', :"data-modalos-id"=>"modalos-sign-in", :"data-modalos-class"=>"sign-in-window" %>
        </li>
     <% end %> 
        <li><div class="nav-separator"></div></li>  
        <li class="dropdown dropdown-hover dropdown-about-storybuilder">                    
            <a href="#" class="dropdown-toggle link" data-toggle="dropdown"><%= "#{t('helpers.links.menu')}" %><i class="i-icon i-caret"></i></a>                   
            <ul class="dropdown-menu pull-right">
              <li>
                <%= link_to t('helpers.links.about'), about_path %> 
              </li>
              <li>
                <%= link_to t('helpers.links.news'), news_path %>
              </li>
              <li>
                <%= link_to t('helpers.links.todo_list'), todo_list_path %> 
              </li>
              <li>
                <%= link_to t('helpers.links.feedback'), feedback_path %> 
              </li>
               <!--li>
                <%#= link_to t('helpers.links.demo'), demo_path %> 
              </li-->
              <li>
                <%= link_to t('helpers.links.feed'), feed_path, :rel=>"alternate", :type=>"application/feed+xml" %>                                  
              </li>
             
              <li>                        
                <%= link_to "GitHub", "https://github.com/JumpStartGeorgia/Interactive-Story-Builder.git", :target => :blank %>
              </li>
            </ul>
        </li>
        <li><div class="nav-separator"></div></li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%= root_url %>" onclick="javascript:window.open(this.href,
                        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="link">  
          <i class="i-icon i-facebook"></i></a>      
        </li> 
        <li><a href='https://twitter.com/share?text=<%= content_for?(:title) ? "#{yield(:title)} | #{t('app.common.app_name')}" :
                                t('app.common.app_name') %>' onclick="javascript:window.open(this.href,
                        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="link">
                        <i class="i-icon i-twitter"></i>
            </a></li>

        <li><a href="https://plus.google.com/share?url=<%= root_url %>" onclick="javascript:window.open(this.href,
          '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="link">
              <i class="i-icon i-google"></i>
            </a></li> 
       
        <li><div class="nav-separator"></div></li>
        <% I18n.available_locales.each do |locale| %>
          <% if locale != I18n.locale %>
            <li><%= link_to t("app.language.#{locale}"), params.merge(:locale =>  locale) , :"data-target"=>".nav-collapse", :"data-toggle"=>"collapse", :class => "lang_switch link" %></li>
          <% end %>
        <% end %>                             
      </ul>
    </div>
  </div>
</nav>
