<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", :media => "all" %>
    
    <style>
      a#review_url{
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
  
		<div id="wrapper">
		  <div class="container">
		    <div class="content">
		      <div class="row">
		         <div class="span12">
		         		<div class="flash-message">
							<% flash.each do |key, msg| %>
								<div class="alert <%= flash_translation(key) %> fade in">
									<a href="#" data-dismiss="alert" class="close">×</a>
									<%= msg %>
								</div>
							<% end %>
						</div>

							<% if content_for?(:title) %>
								<div class="page-header">
								  <div class="block">
			              <h1>
										  <%= yield(:title) %>
									  </h1>
									</div>
								</div>
							<% end %>

	            <%= yield %>

              <div>
                <button id="copy-button" class="btn btn-mini" data-clipboard-target="review_url">
                  <%= t('.copy') %>
                </button>
              </div>
                            
              <div id="copied" style="display: none;" class="alert alert-success">
                <%= t('.copied') %>
              </div>

	          </div><!--/span-->
		      </div><!--/row-->
		    </div><!--/content-->
		   </div> <!-- /container -->
		</div><!--/wrapper-->
		

    <script src="/assets/ZeroClipboard.min.js"></script>
    <script>
      var client = new ZeroClipboard( document.getElementById("copy-button"), {
        moviePath: "/assets/ZeroClipboard.swf"
      } );

      client.on( "load", function(client) {
        client.on( "complete", function(client, args) {
          // `this` is the element that was clicked
          document.getElementById('copied').style.display = 'block';
        } );
      } );
    </script>
		
  </body>
</html>
