<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? "#{yield(:title)} | #{t('app.common.app_name_not_trans')}" :
				t('app.common.app_name_not_trans') %></title>
    <%= csrf_meta_tags %>
	  <%= include_gon %>

	  <meta property="og:title" content="<%= content_for?(:title) ? ("#{yield(:title)} | #{t('app.common.app_name_not_trans')}").html_safe :
			  t('app.common.app_name_not_trans').html_safe %>" />
	  <% if false %>
      <meta name="description" content="">
  		<meta property="og:description" content="" />
    <% end %>
	  <meta property="og:type" content="non_profit" />
	  <meta property="og:url" content="<%= current_url %>" />
	  <meta property="og:site_name" content="<%= t('app.common.app_name_not_trans') %>" />
	  <meta property="fb:app_id" content="<%= ENV['STORY_BUILDER_FACEBOOK_APP_ID'] %>" />

    <meta name="google" content="notranslate" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag  *(@css.present? ? ["application",@css].flatten : ["application"]), :media => "all" %>      
    <%= auto_discovery_link_tag(:atom, feed_path(:format => "atom")) %>
  	<% if @usemap %>
  		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
  	<% end %>
    

		<!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
	  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body id="storybuilder_form">
    <%= render partial: "layouts/storybuilder_nav"%>   
    <%= render partial: "shared/story_nav"%>   
		<div class="builder-wrapper">	
     <div class="toolbar">
      <div class="story-title"><span title="<%= @story.title %>"><%= @story.title %></span></div>             
        <div class='tools'>         
          <div class="left-view">
           <div class='view-wrapper'> 
            <% if @tr %>
              <div class="trans-source"><%= t('.source') %><span class="glyphicon glyphicon-play" ></span></div> 
            <% end %>
            <%= link_to '#', title: t('helpers.links.story_menu.link.story_settings') + ' - ' + t('helpers.links.story_menu.title.story_settings'), class: 'btn btn-edit-story' do %>
                <span class="glyphicon glyphicon-edit" ></span>          
              <% end %>
          <% if !@tr %>
            <%= link_to '#', title: t('app.buttons.add_section') , class: 'btn btn-create-section' do %>
                <span class="glyphicon glyphicon-align-justify" ></span>          
              <% end %>
          <% end %>
              <%= link_to '#', title: t('helpers.links.story_menu.link.preview') + ' - ' + t('helpers.links.story_menu.title.preview'), id: 'btnPreview', class: 'preview btn btn-preview', 
                  :'data-link' => preview_story_path(@story), 
                  :'data-modalos-id' => 'modalos-preview', :'data-type' => 'story' do %>
                <span class="glyphicon glyphicon-eye-open" ></span>          
              <% end %>
          <% if !@tr %>
            <% if !@story.published %> 
                <%= link_to '#', title: t('helpers.links.story_menu.link.review') + ' - ' + t('helpers.links.story_menu.title.review'), id: 'btnReviewer', class: 'btn btn-review',
                    :'data-title' => @story.title, :'data-modalos-id' => 'modalos-reviewer', :'data-reviewer-key' => review_url(@story.reviewer_key) do %>
                    <span class="glyphicon glyphicon-share" ></span>        
                <% end %>
            <% end %>
              <% 
                title = @story.published ? t('helpers.links.story_menu.title.unpublish') : t('helpers.links.story_menu.title.publish') 
                link_text = @story.published ? t('helpers.links.story_menu.link.unpublish') : t('helpers.links.story_menu.link.publish') 
              %>
              <%= link_to '#', title: link_text + ' - ' + title, class: 'btnPublish btn btn-publish' + (@story.published ? '' : '-disabled'), :'data-link' => publish_story_path(@story) do %>
                <span class="glyphicon glyphicon-globe" ></span>
              <% end %>
              <%= link_to @story, title: t('helpers.links.story_menu.link.delete_story') + ' - ' + t('helpers.links.story_menu.title.delete_story'), 
               class: 'preview btn btn-remove-story', confirm: t("helpers.links.confirm"), method: :delete do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            <% end %>
            <% if @tr %>
              <% 
                progress = @story.translation_progress
                from_langs = []
                @story.story_locales.each do |trans_locale|
                  l = @languages.select{|x| x.locale == trans_locale}.first
                  if l.present?
                    x = l.dup
                    # if translation progress percent exists for this locale, add it
                    x.percent = compute_translation_progress_percent(x.locale, progress)
                    from_langs << x
                  end
                end

                to_langs = []
                if @edit_story_role == Story::ROLE[:translator] 
                  @edit_translation_locales.each do |trans_locale|
                    l = @languages.select{|x| x.locale == trans_locale}.first
                    if l.present?
                      x = l.dup
                      # if translation progress percent exists for this locale, add it
                      x.percent = compute_translation_progress_percent(x.locale, progress)
                      to_langs << x
                    end
                  end
                else
                  # see if @to has percent?
                  to_translated = compute_translation_progress_percent(@to, progress).present?
                  @languages.each do |l|
                    x = l.dup
                    # if translation progress percent exists for this locale, add it
                    x.percent = compute_translation_progress_percent(x.locale, progress)
                    if !to_translated && params[:tr_to].nil? && x.percent.present? && x.locale != @from
                      @to = x.locale 
                      to_translated = true
                    end
                    to_langs << x
                  end
                end
              %>
               <%= select_tag "translate-from", options_from_collection_for_select(from_langs, "locale", "name_with_translation_percent", @story.story_locale), include_blank: false,
                     :id => "translateFrom", :class => "selectpicker", 
                     :'data-live-search' => "true", :'data-size' => "10"  %>
           <% end %>
          </div>
        </div>
        <div class='right-view'>          
          <div class='view-wrapper'> 
            <% if @tr %>
              <div class="trans-target"><%= t('.target') %><span class="glyphicon glyphicon-play" ></span></div> 
              <%= select_tag "translate-to", options_from_collection_for_select(to_langs.select{ |lan|  lan.locale !=  @story.story_locale } , "locale", "name_with_translation_percent", @to), include_blank: false, :id => "translateTo", :class => "selectpicker", 
                :'data-live-search' => "true", :'data-size' => "10" %>
              <%= link_to '#', title: t('helpers.links.story_menu.link.preview') + ' - ' + t('helpers.links.story_menu.title.preview'), id: 'btnPreview', class: 'preview btn btn-preview', 
                :'data-link' =>  preview_story_path(@story), 
                :'data-modalos-id' => 'modalos-preview', :'data-type' => 'story', :'data-sl' => true do %>
              
                <span class="glyphicon glyphicon-eye-open" ></span>          

              <% 
                trans_story = @story.with_translation(@to)
                title = trans_story.published ? t('helpers.links.story_menu.title.unpublish') : t('helpers.links.story_menu.title.publish') 
                link_text = trans_story.published ? t('helpers.links.story_menu.link.unpublish') : t('helpers.links.story_menu.link.publish') 
                progress_from = progress.select{|x| x.locale == @story.story_locale}.first
                progress_to = progress.select{|x| x.locale == @to}.first
                btn_class = (trans_story.published || (progress_from.present? && progress_to.present? && progress_from.items_completed == progress_to.items_completed)) ? '' : 'hide'

              %>
              <%= link_to '#', title: link_text + ' - ' + title, class: "btnPublish btn #{btn_class} btn-publish" + (trans_story.published ? '' : '-disabled'), :'data-link' => publish_story_path(@story), :'data-sl' => true, 
                :'data-percent' => compute_translation_progress_percent(@to, progress) do %>
                <span class="glyphicon glyphicon-globe" ></span>
              <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>      
      <div class="flash-message">
        <% flash.each do |key, msg| %>
          <div class="alert <%= flash_translation(key) %> fade in">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <%= msg %>
          </div>
        <% end %>
      </div>       
  </div>




      <div class="content">
        <div class="sidebar o">
          <%= yield %>
        </div>
        <div class="workplace<%= @tr ? ' tr' : '' %>">
          <div class='story-viewer story-page1 viewer' id='storyViewer'></div><% if @tr %><div class='story-page2 viewer'></div><% end %>
        </div>
      </div>
    </div> 
    <div class="copy-paste" title="<%= t('layouts.storybuilder.copy_paste') %>"></div>  
    <%= yield(:footer) %>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag  *(@js.present? ? ["application", @js].flatten : ["application"]), :media => "all" %>      
		<script type="text/javascript">
			I18n.defaultLocale = "<%= I18n.default_locale %>";
			I18n.locale = "<%= I18n.locale %>";
		</script>
		<% if @usemap %>
  		<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js" type="text/javascript"></script>
		<% end %>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=<%= @face_id %>&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
		<% if Rails.env.production? %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12801815-39', 'auto');
        ga('send', 'pageview');

      </script>
		<% end %>  
    <%= yield(:js) %>
  </body>
</html>
